.card.spacing-below--xl
    h2.spacing-below--l Badge 
        a#c-badge(href="#c-badge") #

    .flex.flex-space--between
        span.c-badge Default

        span.c-badge.c-badge--success Success

        span.c-badge.c-badge--info Info

        span.c-badge.c-badge--warning Warning

        span.c-badge.c-badge--error Error

        span.c-badge.c-badge--new New

        span.c-badge.c-badge--info Beta


    br

    br



    ul.tabs-default.spacing-below--xl
        li.tabs-item
            a.tabs-link.is-active(href="javascript:void(0)") 
                span.tabs-text Selected

        
        li.tabs-item
            a.tabs-link(href="javascript:void(0)")
                span.tabs-text Normal

                span.c-badge.c-badge--count 9+


        li.tabs-item
            a.tabs-link.is-disabled(href="javascript:void(0)") 
                span.tabs-text Disabled
        