.card.spacing-below--xl
    h2.spacing-below--l Breadcrumbs 
        a#c-breadcrumb(href="#c-breadcrumb") #

    hr.separator-horizontal

    .breadcrumb
        a.breadcrumb__item.breadcrumb__link(href="#") First Item

        span.breadcrumb__sep  / 

        a.breadcrumb__item.breadcrumb__link(href="#") Second Item

        span.breadcrumb__sep  / 

        span.breadcrumb__item Current Item 


    h1 Page title goes here

    p.intro This is a lead para on a page



    .tab-header
        h2.breadcrumb.ui-heading-04
            a.breadcrumb__item.breadcrumb__link(href="#") Designing an API

            span.breadcrumb__sep  / 

            a.breadcrumb__item.breadcrumb__link(href="#") Postman Echo POST

            span.breadcrumb__sep  / 

            span.breadcrumb__item.is-highlighted Success Response 