.card.spacing-below--xl(style="width: 960px;")
    h2.spacing-below--l Grid 
        a#c-grid(href="#c-grid") #


    
    .grid
        .col-12.sb-grid_marker
            span col-12

    .grid
        .col-11.sb-grid_marker
            span col-11

        .col-1.sb-grid_marker
            span col-1

    .grid
        .col-10.sb-grid_marker
            span col-10

        .col-2.sb-grid_marker
            span col-2
    
    .grid
        .col-9.sb-grid_marker
            span col-9

        .col-3.sb-grid_marker
            span col-3


    .grid
        .col-8.sb-grid_marker
            span col-8

        .col-4.sb-grid_marker
            span col-4


    .grid
        .col-7.sb-grid_marker
            span col-7

        .col-5.sb-grid_marker
            span col-5

    
    .grid
        .col-6.sb-grid_marker
            span col-6

        .col-6.sb-grid_marker
            span col-6

    
    .grid
        .col-4.sb-grid_marker
            span col-4

        .col-4.sb-grid_marker
            span col-4

        .col-4.sb-grid_marker
            span col-4


    .grid
        .col-3.sb-grid_marker
            span col-3

        .col-3.sb-grid_marker
            span col-3

        .col-3.sb-grid_marker
            span col-3

        .col-3.sb-grid_marker
            span col-3

    .grid
        .col-2.sb-grid_marker
            span col-2

        .col-2.sb-grid_marker
            span col-2

        .col-2.sb-grid_marker
            span col-2

        .col-2.sb-grid_marker
            span col-2

        .col-2.sb-grid_marker
            span col-2

        .col-2.sb-grid_marker
            span col-2

    
    .grid
        .col-1.sb-grid_marker
            span col-1

        .col-1.sb-grid_marker
            span col-1

        .col-1.sb-grid_marker
            span col-1

        .col-1.sb-grid_marker
            span col-1

        .col-1.sb-grid_marker
            span col-1

        .col-1.sb-grid_marker
            span col-1

        .col-1.sb-grid_marker
            span col-1

        .col-1.sb-grid_marker
            span col-1

        .col-1.sb-grid_marker
            span col-1

        .col-1.sb-grid_marker
            span col-1

        .col-1.sb-grid_marker
            span col-1

        .col-1.sb-grid_marker
            span col-1

