doctype strict
html.p-home(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title Website Sandbox – Postman
        meta(name='robots', content='index, follow')
        meta(name='title', content='Website Refresh 2021')
        meta(name='DC.title', content='Website Refresh 2021')
        meta(name='author', content='Amrinder Sandhu')
        meta(name='description', content='Website Refresh Sandbox')
        meta#viewport(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

        link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
        link(rel='manifest' href='/site.webmanifest')
        link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#ff6c37')
        meta(name='msapplication-TileColor' content='#111111')
        meta(name='theme-color' content='#ffffff')

        link(rel='stylesheet', href='css/styles.css', type='text/css')
        link(rel="stylesheet" href="https://unpkg.com/tippy.js@6/animations/scale.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Inter:wght@400;600&display=swap")