.card.spacing-below--xl
    h2.spacing-below--l Radio Buttons 
        a#c-rb(href="#c-rb") #
    
    .input-wrap.input-wrap--radiobutton
        input.input-radio(type="radio" name="radio" id="radio-1" checked)
        label.input-label(for="radio-1") This is a radio button
        
        
    .input-wrap.input-wrap--radiobutton
        input.input-radio(type="radio" name="radio" id="radio-3")
        label.input-label(for="radio-3") This is a radio button with description
        p.input-description Description for the above radiobutton goes here and can be a bit long as we need to clearly explain what user’s choice entails.
        
    .input-wrap.input-wrap--radiobutton
        input.input-radio(type="radio" name="radio" id="radio-4" disabled)
        label.input-label(for="radio-4") This is a disabled radio button