.card.spacing-below--xl
    h2.spacing-below--l Tabs 
        a#c-tabs(href="#c-tabs") #
    
    
    //ul.tabs-default.is-full-width.spacing-below--xl
        li.tabs-item
            a.tabs-link.is-active(href="javascript:void(0)") 
                span.tabs-text Selected

        
        li.tabs-item
            a.tabs-link(href="javascript:void(0)")
                span.tabs-text Normal


        li.tabs-item
            a.tabs-link.is-disabled(href="javascript:void(0)") 
                span.tabs-text Disabled



    //ul.tabs-alt.is-full-width.spacing-below--xl
        li.tabs-item
            a.tabs-link.is-active(href="javascript:void(0)") 
                span.tabs-text Selected

        
        li.tabs-item
            a.tabs-link(href="javascript:void(0)")
                span.tabs-text Normal


        li.tabs-item
            a.tabs-link.is-disabled(href="javascript:void(0)") 
                span.tabs-text Disabled



    h3 Primary variant

    br

    ul.tabs-default.spacing-below--xl
        li.tabs-item
            a.tabs-link(href="javascript:void(0)") 
                span.tabs-text Selected

        
        li.tabs-item
            a.tabs-link.is-active(href="javascript:void(0)")
                span.tabs-text Normal

                    span.c-badge.c-badge--count 9+


        li.tabs-item
            a.tabs-link(href="javascript:void(0)")
                span.tabs-text Count (7)

        li.tabs-item
            a.tabs-link.has-content(href="javascript:void(0)")
                span.tabs-text Count


        li.tabs-item
            a.tabs-link.is-disabled(href="javascript:void(0)") 
                span.tabs-text Disabled

    
    br


    h3 Secondary variant

    br

    ul.tabs-alt.spacing-below--xl
        li.tabs-item
            a.tabs-link(href="javascript:void(0)") 
                span.tabs-text Selected

        
        li.tabs-item
            a.tabs-link.is-active(href="javascript:void(0)")
                span.tabs-text Normal


        li.tabs-item
            a.tabs-link.is-disabled(href="javascript:void(0)") 
                span.tabs-text Disabled

