.card.spacing-below--xl
    h2.spacing-below--xl Toggle Switches
        a#c-ts(href="#c-ts") #


    .flex.flex-direction--column
        .flex.flex-justify--space_between.flex-align-items--center.spacing-below--l
            p Trim keys and values in request body


            .input-wrap.input-wrap--toggle
                input.input-toggle(type="checkbox" name="toggle-1" id="toggle-1" checked)
                label.input-toggle-slider(for="toggle-1") 
                span.input-toggle-label ON

        
        .flex.flex-justify--space_between.flex-align-items--center.spacing-below--l
            p Trim keys and values in request body

            .input-wrap.input-wrap--toggle
                input.input-toggle(type="checkbox" name="toggle-2" id="toggle-2")
                label.input-toggle-slider(for="toggle-2") 
                span.input-toggle-label OFF


        .flex.flex-justify--space_between.flex-align-items--center.spacing-below--l
            p Trim keys and values in request body

            .input-wrap.input-wrap--toggle
                input.input-toggle(type="checkbox" name="toggle-3" id="toggle-3" disabled checked)
                label.input-toggle-slider(for="toggle-3")


        .flex.flex-justify--space_between.flex-align-items--center
            p Trim keys and values in request body

            .input-wrap.input-wrap--toggle
                input.input-toggle(type="checkbox" name="toggle-4" id="toggle-4" disabled)
                label.input-toggle-slider(for="toggle-4")