include includes/header.pug

body
    include includes/nav.pug

    .c-hero.has-bg.spacing-below--xxl
        .container
            .row
                .col-xl-5.pad-right--xl
                    p.intro.spacing-below--xxs 62 posts for

                    h1 Abhinav Asthana



    
    .container.spacing-below--xxl
        .row
            .col.ml-3.mr-3.ml-n1
                .h-100
                    a.c-cover.spacing-below--s(href="#" style="background-image: url(https://blog.postman.com/wp-content/uploads/2021/08/bann-200K-OpenAPI-files-768x432.png); height: 240px; background-size: cover;" )
                        

                    h3.heading-04.spacing-below--s 
                        a(href="#") What We Learned from 200,000 OpenAPI Files

                    .d-flex.align-items-center.spacing-below--s
                        .c-avatar__wrap.spacing-right--xs
                            img.c-avatar--person.c-avatar--s(src="https://secure.gravatar.com/avatar/351407fcffce8c3cafbb33ce3c5ffbbb?s=70&d=https%3A%2F%2Fblog.postman.com%2Fwp-content%2Fuploads%2F2020%2F06%2Fpostmanaut-avatar.png&r=g")

                        
                        p.text-small.m-0
                            | Mike Ralphson
                            
                            span.c-sep &middot;
                            
                            small August 23, 2021

                    p After attempting to collect as many publicly available OpenAPI Specification (OAS) files from the internet as possible, Assetnote—an Australian information security company—recently wrote a piece called “Contextual Content Discovery: You’ve Forgotten about the API Endpoints” and presented its work on a tool called Kiterunner at the 2021 BSides Canberra conference.

                    a(href="#") Read More 
                        span.link-arrow &rarr;



            .col.ml-3.mr-3
                .h-100
                    a.c-cover.spacing-below--s(href="#" style="background-image: url(../../i/bc-02.jpg); height: 240px; background-size: cover;" )
                        

                    h3.heading-04.spacing-below--s 
                        a(href="#") “Breaking Changes” Episode 3 Recap: BetterCloud’s Lorinda Brandon

                    .d-flex.align-items-center.spacing-below--s
                        .c-avatar__wrap.spacing-right--xs
                            img.c-avatar--person.c-avatar--s(src="https://secure.gravatar.com/avatar/221f4b4c0b277cf0dfb0d0abbe94ad13?s=70&d=https%3A%2F%2Fblog.postman.com%2Fwp-content%2Fuploads%2F2020%2F06%2Fpostmanaut-avatar.png&r=g")

                        
                        p.text-small.m-0
                            | Claire Froelich
                            
                            span.c-sep &middot;
                            
                            small August 23, 2021

                    p In Episode 3 of Breaking Changes—our weekly talk show where Postman Chief Evangelist Kin Lane hosts stellar guests from all across the API universe to discuss, debate, and solve the latest topics around APIs and API-first—BetterCloud VP of Engineering Lorinda Brandon shares her expertise. 

                    a(href="#") Read More 
                        span.link-arrow &rarr;





            .col.ml-3.mr-3
                .h-100
                    a.c-cover.spacing-below--s(href="#" style="background-image: url(https://blog.postman.com/wp-content/uploads/2021/08/Bann_Public-Link-Governance-768x432.png); height: 240px; background-size: cover;" )
                        

                    h3.heading-04.spacing-below--s 
                        a(href="#") Govern Your Public API Collections More Effectively

                    .d-flex.align-items-center.spacing-below--s
                        .c-avatar__wrap.spacing-right--xs
                            img.c-avatar--person.c-avatar--s(src="https://secure.gravatar.com/avatar/0970391195b6cf9819da754a80cf10d7?s=70&d=https%3A%2F%2Fblog.postman.com%2Fwp-content%2Fuploads%2F2020%2F06%2Fpostmanaut-avatar.png&r=g")

                        
                        p.text-small.m-0
                            | Avinash Choudhary
                            
                            span.c-sep &middot;
                            
                            small August 19, 2021

                    p Visibility into your APIs is crucial for running a successful API program in any organization. Having visibility enables you to effectively govern what APIs your organization exposes publicly for external consumers. Today, millions of developers use public collection links, Postman public documentation, and public workspaces to share their public APIs with prospective consumers.

                    a(href="#") Read More 
                        span.link-arrow &rarr;

    

    .container.spacing-below--xxl
        .row
            .col.ml-3.mr-3.ml-n1
                .h-100
                    a.c-cover.spacing-below--s(href="#" style="background-image: url(https://blog.postman.com/wp-content/uploads/2021/08/blog-hackathon-winner-768x432.png); height: 240px; background-size: cover;" )
                        

                    h3.heading-04.spacing-below--s 
                        a(href="#") Announcing the “Visualize for the Prize” Student Hackathon Winners

                    .d-flex.align-items-center.spacing-below--s
                        .c-avatar__wrap.spacing-right--xs
                            img.c-avatar--person.c-avatar--s(src="https://secure.gravatar.com/avatar/41d47b09adf033bd1d7eea1c7c000c75?s=70&d=https%3A%2F%2Fblog.postman.com%2Fwp-content%2Fuploads%2F2020%2F06%2Fpostmanaut-avatar.png&r=g")

                        
                        p.text-small.m-0
                            | Joyce Lin
                            
                            span.c-sep &middot;
                            
                            small August 23, 2021

                    p This past weekend, on August 7-8, 2021, we hosted the inaugural Postman Student Summit. Thousands of students, educators, and API enthusiasts across the globe registered for a momentous two-day celebration of APIs.

                    a(href="#") Read More 
                        span.link-arrow &rarr;




            .col.ml-3.mr-3
                .h-100
                    a.c-cover.spacing-below--s(href="#" style="background-image: url(../../i/bc-03.jpg); height: 240px; background-size: cover;" )
                        

                    h3.heading-04.spacing-below--s 
                        a(href="#") “Breaking Changes” Episode 3 Recap: BetterCloud’s Lorinda Brandon

                    .d-flex.align-items-center.spacing-below--s
                        .c-avatar__wrap.spacing-right--xs
                            img.c-avatar--person.c-avatar--s(src="https://secure.gravatar.com/avatar/5a2fc179134f7836d3ad4906d5cd5daa?s=70&d=https%3A%2F%2Fblog.postman.com%2Fwp-content%2Fuploads%2F2020%2F06%2Fpostmanaut-avatar.png&r=g")

                        
                        p.text-small.m-0
                            | Shruti Duge
                            
                            span.c-sep &middot;
                            
                            small August 23, 2021

                    p In Episode 3 of Breaking Changes—our weekly talk show where Postman Chief Evangelist Kin Lane hosts stellar guests from all across the API universe to discuss, debate, and solve the latest topics around APIs and API-first—BetterCloud VP of Engineering Lorinda Brandon shares her expertise. 

                    a(href="#") Read More 
                        span.link-arrow &rarr;





            .col.ml-3.mr-3
                .h-100
                    a.c-cover.spacing-below--s(href="#" style="background-image: url(https://blog.postman.com/wp-content/uploads/2021/08/Postman-largest-API-network-768x432.jpg); height: 240px; background-size: cover;" )
                        

                    h3.heading-04.spacing-below--s 
                        a(href="#") Postman Public API Network Is Now the World’s Largest Public API Hub

                    .d-flex.align-items-center.spacing-below--s
                        .c-avatar__wrap.spacing-right--xs
                            img.c-avatar--person.c-avatar--s(src="https://secure.gravatar.com/avatar/1f428f234c27ef14bd862b133fbe0033?s=70&d=https%3A%2F%2Fblog.postman.com%2Fwp-content%2Fuploads%2F2020%2F06%2Fpostmanaut-avatar.png&r=g")

                        
                        p.text-small.m-0
                            | The Postman Team
                            
                            span.c-sep &middot;
                            
                            small August 19, 2021

                    p We are proud to announce that the Postman Public API Network is now the largest API hub in the world, serving 17 million users and 500,000 organizations worldwide. The global directory hosts thousands of public APIs, connecting international developers and providing a central catalog of APIs built for discovery, exploration, and sharing.

                    a(href="#") Read More 
                        span.link-arrow &rarr;



    .container.spacing-below--xxl
        .row
            .col
                .c-pagination
                    a.c-pagination__item(href="#") &larr; Older Posts

                    a.c-pagination__item(href="#") Newer Posts &rarr;


    hr


    include includes/footer.pug