include includes/header.pug

body
    include includes/nav.pug

    

    .container.spacing-below--xxl#card
        .row
            .col-xl-8
                h2.spacing-below--l Cards all around

        .row.spacing-below--m
            .col-xl-4
                a.c-card.c-card--01(href="#")
                    span.c-card__date 
                        strong 18
                        span Aug

                    
                    .c-card__content
                        .d-flex.flex-wrap.spacing-below--xxs
                            span.c-badge Architect

                            span.c-badge Developer

                        h3.heading-04 Postman: Design and Prototype an API

                        p This one-hour Postman training is geared specifically for API producers. In this session, you'll learn how to build higher-quality APIs, speed up API development, and increase API adoption.

                        strong Learn more &rarr;


            .col-xl-4
                a.c-card.c-card--01(href="#")
                    span.c-card__date 
                        strong 18
                        span Aug

                    
                    .c-card__content
                        .d-flex.flex-wrap.spacing-below--xxs
                            span.c-badge Architect

                            span.c-badge Developer

                        h3.heading-04 Postman: Design and Prototype an API

                        p This one-hour Postman training is geared specifically for API producers. In this session, you'll learn how to build higher-quality APIs, speed up API development, and increase API adoption.

                        strong Learn more &rarr;


            .col-xl-4
                a.c-card.c-card--01(href="#")
                    span.c-card__date 
                        strong 18
                        span Aug

                    
                    .c-card__content
                        .d-flex.flex-wrap.spacing-below--xxs
                            span.c-badge Architect

                            span.c-badge Developer

                        h3.heading-04 Postman: Design and Prototype an API

                        p This one-hour Postman training is geared specifically for API producers. In this session, you'll learn how to build higher-quality APIs, speed up API development, and increase API adoption.

                        strong Learn more &rarr;
                
        .row
            .col-xl-4
                a.c-card.c-card--02(href="#")
                    .c-card__content
                        .d-flex.flex-wrap.spacing-below--xxs
                            span.c-badge Business

                            span.c-badge Developer

                            span.c-badge Tester

                        h3.heading-04 Postman Keynote: Abhinav Asthana

                        p.spacing-below--xxs Abhinav, the Co-founder and CEO of Postman, presents the opening Keynote address and demos exciting new tech.

            .col-xl-4
                a.c-card.c-card--02(href="#")
                    .c-card__content
                        .d-flex.flex-wrap.spacing-below--xxs
                            span.c-badge Business

                            span.c-badge Developer

                            span.c-badge Tester

                        h3.heading-04 Postman Keynote: Abhinav Asthana

                        p.spacing-below--xxs Abhinav, the Co-founder and CEO of Postman, presents the opening Keynote address and demos exciting new tech.

            .col-xl-4
                a.c-card.c-card--02(href="#")
                    .c-card__content
                        .d-flex.flex-wrap.spacing-below--xxs
                            span.c-badge Business

                            span.c-badge Developer

                            span.c-badge Tester

                        h3.heading-04 Postman Keynote: Abhinav Asthana

                        p.spacing-below--xxs Abhinav, the Co-founder and CEO of Postman, presents the opening Keynote address and demos exciting new tech.


    hr.spacing-top--xl.spacing-below--xxl


    .container.spacing-below--xxl
        .row.spacing-below--m
            .col-xl-8.offset-2.text-center
                h2 Why Postman?

        .row
            .col-xl-3
                h3.heading-04 It's Free and Easy to Start

                p.pad-right--m Just 
                    a(href="https://identity.getpostman.com/signup?continue=https%3A%2F%2Fgo.postman.co%2Fbuild" target="_blank" rel="noopener") sign up 
                    | for the Postman app and send your first request in minutes. The Postman app is free and can be used by teams of any size.

            
            .col-xl-3
                h3.heading-04 It's Free and Easy to Start

                p.pad-right--m Just 
                    a(href="https://identity.getpostman.com/signup?continue=https%3A%2F%2Fgo.postman.co%2Fbuild" target="_blank" rel="noopener") sign up 
                    | for the Postman app and send your first request in minutes. The Postman app is free and can be used by teams of any size.


            .col-xl-3
                h3.heading-04 It's Free and Easy to Start

                p.pad-right--m Just 
                    a(href="https://identity.getpostman.com/signup?continue=https%3A%2F%2Fgo.postman.co%2Fbuild" target="_blank" rel="noopener") sign up 
                    | for the Postman app and send your first request in minutes. The Postman app is free and can be used by teams of any size.


            .col-xl-3
                h3.heading-04 It's Free and Easy to Start

                p.pad-right--m Just 
                    a(href="https://identity.getpostman.com/signup?continue=https%3A%2F%2Fgo.postman.co%2Fbuild" target="_blank" rel="noopener") sign up 
                    | for the Postman app and send your first request in minutes. The Postman app is free and can be used by teams of any size.



    .c-section.has-bg.spacing-below--xxl
        .container
            .row.spacing-below--m
                .col-xl-8.offset-2.text-center
                    h2 Test and Debug All Your APIs

            .row
                .col-xl-4
                    h3.heading-04 REST

                    p.pad-right--m Postman began as a 
                        a(href="https://identity.getpostman.com/signup?continue=https%3A%2F%2Fgo.postman.co%2Fbuild" target="_blank" rel="noopener") REST client
                        |  and has evolved into today’s comprehensive Postman API Platform. 


                .col-xl-4
                    h3.heading-04 REST

                    p.pad-right--m Postman began as a 
                        a(href="https://identity.getpostman.com/signup?continue=https%3A%2F%2Fgo.postman.co%2Fbuild" target="_blank" rel="noopener") REST client
                        |  and has evolved into today’s comprehensive Postman API Platform. 


                .col-xl-4
                    h3.heading-04 REST

                    p.pad-right--m Postman began as a 
                        a(href="https://identity.getpostman.com/signup?continue=https%3A%2F%2Fgo.postman.co%2Fbuild" target="_blank" rel="noopener") REST client
                        |  and has evolved into today’s comprehensive Postman API Platform. 

    
    .container
        .row.spacing-below--m
            .col-xl-8.offset-2.text-center
                h2 Featured Resources
