include includes/header.pug

body
    include includes/nav.pug

    .c-hero.has-bg.spacing-below--xxl
        .container
            .row
                .col-xl-12
                    h1 Cards

                    p.intro Content that should and shouldn’t be in cards.





    .container.spacing-below--xxl#card
        //.row.spacing-below--m
            .col-xl-4
                a.c-card.c-card--01(href="#")
                    span.c-card__date 
                        strong 18
                        span Aug

                    
                    .c-card__content
                        .d-flex.flex-wrap.spacing-below--xxs
                            span.c-badge Architect

                            span.c-badge Developer

                        h3.heading-04 Postman: Design and Prototype an API

                        p This one-hour Postman training is geared specifically for API producers. In this session, you'll learn how to build higher-quality APIs, speed up API development, and increase API adoption.

                        strong Learn more &rarr;


            .col-xl-4
                a.c-card.c-card--01(href="#")
                    span.c-card__date 
                        strong 18
                        span Aug

                    
                    .c-card__content
                        .d-flex.flex-wrap.spacing-below--xxs
                            span.c-badge Architect

                            span.c-badge Developer

                        h3.heading-04 Postman: Design and Prototype an API

                        p This one-hour Postman training is geared specifically for API producers. In this session, you'll learn how to build higher-quality APIs, speed up API development, and increase API adoption.

                        strong Learn more &rarr;


            .col-xl-4
                a.c-card.c-card--01(href="#")
                    span.c-card__date 
                        strong 18
                        span Aug

                    
                    .c-card__content
                        .d-flex.flex-wrap.spacing-below--xxs
                            span.c-badge Architect

                            span.c-badge Developer

                        h3.heading-04 Postman: Design and Prototype an API

                        p This one-hour Postman training is geared specifically for API producers. In this session, you'll learn how to build higher-quality APIs, speed up API development, and increase API adoption.

                        strong Learn more &rarr;
                
        //.row.spacing-below--xl
            .col-xl-4
                a.c-card.c-card--02(href="#")
                    .c-card__content
                        .d-flex.flex-wrap.spacing-below--xxs
                            span.c-badge Business

                            span.c-badge Developer

                            span.c-badge Tester

                        h3.heading-04 Postman Keynote: Abhinav Asthana

                        p.spacing-below--xxs Abhinav, the Co-founder and CEO of Postman, presents the opening Keynote address and demos exciting new tech.

            .col-xl-4
                a.c-card.c-card--02(href="#")
                    .c-card__content
                        .d-flex.flex-wrap.spacing-below--xxs
                            span.c-badge Business

                            span.c-badge Developer

                            span.c-badge Tester

                        h3.heading-04 Postman Keynote: Abhinav Asthana

                        p.spacing-below--xxs Abhinav, the Co-founder and CEO of Postman, presents the opening Keynote address and demos exciting new tech.

            .col-xl-4
                a.c-card.c-card--02(href="#")
                    .c-card__content
                        .d-flex.flex-wrap.spacing-below--xxs
                            span.c-badge Business

                            span.c-badge Developer

                            span.c-badge Tester

                        h3.heading-04 Postman Keynote: Abhinav Asthana

                        p.spacing-below--xxs Abhinav, the Co-founder and CEO of Postman, presents the opening Keynote address and demos exciting new tech.

        .row.spacing-below--s
            .col-xl-4
                a.c-card.h-100(href="#")
                    .c-card__cover(style="background-image:url(https://refresh-2021.www.postman-beta.com/assets/case-studies/companies/giant-machines/logo-frame-giant-machines.png);")
                    
                    .c-card__content
                        p Giant Machines uses Postman collections, scripts, and mock servers keep API development fast and fluid

                        span.c-card__link Learn more &rarr;


            .col-xl-4
                a.c-card.h-100(href="#")
                    .c-card__cover(style="background-image:url(https://refresh-2021.www.postman-beta.com/assets/case-studies/companies/box/cs-box.svg); background-size: 50%")
                    
                    .c-card__content
                        p Box transforms API onboarding with Postman automation tools

                        span.c-card__link Learn more &rarr;


            .col-xl-4
                a.c-card.h-100(href="#")
                    .c-card__cover(style="background-image:url(https://refresh-2021.www.postman-beta.com/assets/case-studies/companies/ping-identity/cs-ping.svg); background-size: 60%")
                    
                    .c-card__content
                        p Postman’s Automation Tools Simplify Exploratory Testing at Ping Identity

                        span.c-card__link Learn more &rarr;





        .row.spacing-below--xl
            .col-xl-4
                a.c-card.h-100(href="#")
                    .c-card__cover(style="background-image:url(https://refresh-2021.www.postman-beta.com/assets/automated-testing/astronaut-test.svg); background-size: 40%")
                    
                    .c-card__content
                        h3.heading-04 Writing Tests in Postman

                        p This video will teach you how to set up tests in Postman and provide real-world examples to show you how Postman tests work.

                        span.c-card__link Watch Tutorial &rarr;


            .col-xl-4
                a.c-card.h-100(href="#")
                    .c-card__cover(style="background-image:url(https://refresh-2021.www.postman-beta.com/assets/automated-testing/postman-training.svg); background-size: 40%")
                    
                    .c-card__content
                        h3.heading-04 Test Examples in Postman

                        p For a lot of people, Postman is synonymous with API testing. This public workspace contains examples of Postman tests.

                        span.c-card__link See Examples &rarr;

            .col-xl-4
                a.c-card.h-100(href="#")
                    .c-card__cover(style="background-image:url(https://refresh-2021.www.postman-beta.com/assets/automated-testing/automated-testing-whitepaper.svg); background-size: 50%")
                    
                    .c-card__content
                        h3.heading-04 Testing Whitepaper

                        p Learn how automated testing helps close the gap between development and QA, find bugs earlier on, and create scalable, more robust services.

                        span.c-card__link Get the Whitepaper &rarr;


            



    .c-section.has-bg.spacing-below--xxl
        .container
            .row
                .col-xl-12
                    h1 Content that shouldn’t be Cards


    .container.spacing-below--xxl
        .row.spacing-below--m
            .col-xl-8.offset-2.text-center
                h2 Why Postman?

        .row
            .col-xl-3
                h3.heading-04 It's Free and Easy to Start

                p.pad-right--m Just 
                    a(href="https://identity.getpostman.com/signup?continue=https%3A%2F%2Fgo.postman.co%2Fbuild" target="_blank" rel="noopener") sign up 
                    | for the Postman app and send your first request in minutes. The Postman app is free and can be used by teams of any size.

            
            .col-xl-3
                h3.heading-04 It's Free and Easy to Start

                p.pad-right--m Just 
                    a(href="https://identity.getpostman.com/signup?continue=https%3A%2F%2Fgo.postman.co%2Fbuild" target="_blank" rel="noopener") sign up 
                    | for the Postman app and send your first request in minutes. The Postman app is free and can be used by teams of any size.


            .col-xl-3
                h3.heading-04 It's Free and Easy to Start

                p.pad-right--m Just 
                    a(href="https://identity.getpostman.com/signup?continue=https%3A%2F%2Fgo.postman.co%2Fbuild" target="_blank" rel="noopener") sign up 
                    | for the Postman app and send your first request in minutes. The Postman app is free and can be used by teams of any size.


            .col-xl-3
                h3.heading-04 It's Free and Easy to Start

                p.pad-right--m Just 
                    a(href="https://identity.getpostman.com/signup?continue=https%3A%2F%2Fgo.postman.co%2Fbuild" target="_blank" rel="noopener") sign up 
                    | for the Postman app and send your first request in minutes. The Postman app is free and can be used by teams of any size.



    .c-section.has-bg.spacing-below--xxl
        .container
            .row.spacing-below--m
                .col-xl-8.offset-2.text-center
                    h2 Test and Debug All Your APIs

            .row
                .col-xl-4
                    h3.heading-04 REST

                    p.pad-right--m Postman began as a 
                        a(href="https://identity.getpostman.com/signup?continue=https%3A%2F%2Fgo.postman.co%2Fbuild" target="_blank" rel="noopener") REST client
                        |  and has evolved into today’s comprehensive Postman API Platform. 


                .col-xl-4
                    h3.heading-04 REST

                    p.pad-right--m Postman began as a 
                        a(href="https://identity.getpostman.com/signup?continue=https%3A%2F%2Fgo.postman.co%2Fbuild" target="_blank" rel="noopener") REST client
                        |  and has evolved into today’s comprehensive Postman API Platform. 


                .col-xl-4
                    h3.heading-04 REST

                    p.pad-right--m Postman began as a 
                        a(href="https://identity.getpostman.com/signup?continue=https%3A%2F%2Fgo.postman.co%2Fbuild" target="_blank" rel="noopener") REST client
                        |  and has evolved into today’s comprehensive Postman API Platform. 



    
    .container.spacing-below--xxl
        .row.spacing-below--m
            .col-xl-8.offset-2.text-center
                h2 Additional Resources

                p.intro Discover even more about automated API testing.


        .row
            .col-xl-4
                h3.heading-04 Postman Docs

                ul.list-unordered
                    li
                        a(href="#") View Test Script Docs

                    li
                        a(href="#") View Newman Docs


            .col-xl-4
                h3.heading-04 From the Blog

                ul.list-unordered
                    li
                        a(href="#") Snapshot Testing for APIs Using Postman

                    li
                        a(href="#") Acing Your API Tests

                    li
                        a(href="#") Performance Testing for Your HTTP APIs

                    li
                        a(href="#") From Manual to Automated Testing

                    li
                        a(href="#") Consumer-Driven Contract Testing

            

            .col-xl-4
                h3.heading-04 Case Studies

                ul.list-unordered
                    li
                        a(href="#") Twitter Grows Its Developer Ecosystem with Postman and the Postman API Network

                    li
                        a(href="#") Imgur Ensures Consistency across Teams with Postman



    
    .container.spacing-below--xxl
        .row.spacing-below--m
            .col-xl-8
                h2 Create Reliable, Shareable, and Easy-to-follow Documentation With Postman

        .row.spacing-below--m
            .col-xl-6.pad-right--xl
                figure.spacing-below--s.w-20
                        img(src="https://refresh-2021.www.postman-beta.com/assets/api-documentation-generator/documentation.svg")

                h3.heading-04 Automatically Update your Documentation

                p Never let your documentation lag behind your service again. Postman automatically updates your documentation every time you make changes to your collection - in real-time. 


            .col-xl-6.pad-right--xl
                figure.spacing-below--s.w-20
                        img(src="https://refresh-2021.www.postman-beta.com/assets/api-documentation-generator/documentation.svg")

                h3.heading-04 Automatically Update your Documentation

                p Never let your documentation lag behind your service again. Postman automatically updates your documentation every time you make changes to your collection - in real-time. 


        .row
            .col-xl-6.pad-right--xl
                figure.spacing-below--s.w-20
                        img(src="https://refresh-2021.www.postman-beta.com/assets/api-documentation-generator/documentation.svg")

                h3.heading-04 Automatically Update your Documentation

                p Never let your documentation lag behind your service again. Postman automatically updates your documentation every time you make changes to your collection - in real-time. 


            .col-xl-6.pad-right--xl
                figure.spacing-below--s.w-20
                        img(src="https://refresh-2021.www.postman-beta.com/assets/api-documentation-generator/documentation.svg")

                h3.heading-04 Automatically Update your Documentation

                p Never let your documentation lag behind your service again. Postman automatically updates your documentation every time you make changes to your collection - in real-time. 




    .container.spacing-below--xxl
        .row.spacing-below--m
            .col-xl-8.offset-2.text-center
                h2 Create Reliable, Shareable, and Easy-to-follow Documentation With Postman

        .row.spacing-below--m
            .col-xl-5.offset-1.text-center.pad-left--m.pad-right--m
                figure.spacing-below--s.w-20.ml-auto.mr-auto
                        img(src="https://refresh-2021.www.postman-beta.com/assets/api-documentation-generator/documentation.svg")

                h3.heading-04 Automatically Update your Documentation

                p Never let your documentation lag behind your service again. Postman automatically updates your documentation every time you make changes to your collection - in real-time. 


            .col-xl-5.text-center.pad-left--m.pad-right--m
                figure.spacing-below--s.w-20.ml-auto.mr-auto
                        img(src="https://refresh-2021.www.postman-beta.com/assets/api-documentation-generator/documentation.svg")

                h3.heading-04 Automatically Update your Documentation

                p Never let your documentation lag behind your service again. Postman automatically updates your documentation every time you make changes to your collection - in real-time. 


        .row
            .col-xl-5.offset-1.text-center.pad-left--m.pad-right--m
                figure.spacing-below--s.w-20.ml-auto.mr-auto
                        img(src="https://refresh-2021.www.postman-beta.com/assets/api-documentation-generator/documentation.svg")

                h3.heading-04 Automatically Update your Documentation

                p Never let your documentation lag behind your service again. Postman automatically updates your documentation every time you make changes to your collection - in real-time. 


            .col-xl-5.text-center.pad-left--m.pad-right--m
                figure.spacing-below--s.w-20.ml-auto.mr-auto
                        img(src="https://refresh-2021.www.postman-beta.com/assets/api-documentation-generator/documentation.svg")

                h3.heading-04 Automatically Update your Documentation

                p Never let your documentation lag behind your service again. Postman automatically updates your documentation every time you make changes to your collection - in real-time. 





