include includes/header.pug



body
    include includes/nav.pug


    .c-hero.has-bg.spacing-below--xxl
        .container
            .row.align-items-center
                .col-xl-6
                    h1 Open Positions


                .col-xl-6
                        figure
                            img(src="../../i/postman-careers.svg")

                    



    .container.spacing-below--xxl
        .row.spacing-below--m
            .col
                h2 Customer Org

                table.w-100.table.table-striped
                    tbody
                        tr
                            td
                                a(href="/page-5.html") Business Analyst, Strategy and Operations

                            td.w-20 Bangalore, India

                            td.w-15
                                a(href="#") Apply &rarr;

                        
                        tr
                            td
                                a(href="#") Director, Revenue Operations

                            td Bangalore, India

                            td
                                a(href="#") Apply &rarr;

                        
                        tr
                            td
                                a(href="#") Manager, Renewals

                            td Bangalore, India

                            td
                                a(href="#") Apply &rarr;

                        
                        tr
                            td
                                a(href="#") Director of Customer Success, Advocacy & Renewals

                            td Bangalore, India

                            td
                                a(href="#") Apply &rarr;

                        
                        tr
                            td
                                a(href="#") Business Analyst, Strategy and Operations

                            td Bangalore, India

                            td
                                a(href="#") Apply &rarr;

                        
                        tr
                            td
                                a(href="#") Director, Revenue Operations

                            td Bangalore, India

                            td
                                a(href="#") Apply &rarr;

                        
                        tr
                            td
                                a(href="#") Manager, Renewals

                            td Bangalore, India

                            td
                                a(href="#") Apply &rarr;

                        
                        tr
                            td
                                a(href="#") Director of Customer Success, Advocacy & Renewals

                            td Bangalore, India

                            td
                                a(href="#") Apply &rarr;


        .row.spacing-below--m
            .col
                h2 Data

                table.w-100.table.table-striped
                    tbody
                        tr
                            td
                                a(href="#") Data Engineer I

                            td.w-20 Bangalore, India

                            td.w-15
                                a(href="#") Apply &rarr;

                        




        .row.spacing-below--m
            .col
                h2 People Operations

                table.w-100.table.table-striped
                    tbody
                        tr
                            td
                                a(href="#") Business Analyst, Strategy and Operations

                            td.w-20 Bangalore, India

                            td.w-15
                                a(href="#") Apply &rarr;

                        
                        tr
                            td
                                a(href="#") Director, Revenue Operations

                            td Bangalore, India

                            td
                                a(href="#") Apply &rarr;

                        
                        tr
                            td
                                a(href="#") Manager, Renewals

                            td Bangalore, India

                            td
                                a(href="#") Apply &rarr;

                        
                        tr
                            td
                                a(href="#") Director of Customer Success, Advocacy & Renewals

                            td Bangalore, India

                            td
                                a(href="#") Apply &rarr;

                        
                        tr
                            td
                                a(href="#") Business Analyst, Strategy and Operations

                            td Bangalore, India

                            td
                                a(href="#") Apply &rarr;

                        
                        tr
                            td
                                a(href="#") Director, Revenue Operations

                            td Bangalore, India

                            td
                                a(href="#") Apply &rarr;

                        
                        tr
                            td
                                a(href="#") Manager, Renewals

                            td Bangalore, India

                            td
                                a(href="#") Apply &rarr;

                        
                        tr
                            td
                                a(href="#") Director of Customer Success, Advocacy & Renewals

                            td Bangalore, India

                            td
                                a(href="#") Apply &rarr;

    hr

    include includes/footer.pug