include includes/header.pug

body
    include includes/nav.pug

    .c-hero.has-bg.spacing-below--xxl
        .container
            .row.align-items-center
                .col-xl-5
                    h1 Feature blocks



    .container.spacing-below--xxl
        .row.align-items-center
            .col-xl-6.pad-right--xl
                img.w-100.mb-4(src="../i/screenshots/screenshot-sample.png")        


            .col-xl-6.pad-right--xl
                h2 Great Quality

                p.intro The Postman API Platform delivers great quality through these features and benefits:

                h3.heading-04 Features

                ul.list-unordered
                    li API mocking and prototyping

                    li API testing for developers integrated with your CI/CD pipeline
                    
                    li Contract-test internal/external APIs with your consumers

                    li API lifecycle management across multiple versions


                h3.heading-04 Benefits

                ul.list-unordered
                    li Faster and earlier bug detection

                    li Standardize API specifications

                    li Rapid, seamless, and automated API testing



    .container.spacing-below--xxl
        .row.align-items-center
            .col-xl-6.pad-right--xl
                p.intro Create a secure and governed API testing and deployment environment with SSO, user-based access controls, dedicated IP Addresses, and audit logs.

                h3.heading-04 SSO

                p Configure single sign-on (SSO) to simplify user authentication

                h3.heading-04 Roles &amp; Permissions

                p Define roles and permissions to control user access

                h3.heading-04 Dedicated IP Addresses

                p Run Postman Monitors against private APIs securely

                h3.heading-04 Audit Logs

                p Automatically track and review user activities

                p
                    a(href="#") Learn more  about Postman’s enterprise services &rarr;


                
            

            .col-xl-6
                img.w-100.mb-4(src="https://refresh-2021.www.postman-beta.com/assets/api-platform/enterprise2.svg")        



    .container.spacing-below--xxl
        .row.align-items-center
            .col-xl-6.pad-right--xl
                img.w-100.mb-4(src="../i/screenshots/screenshot-sample.png")        


            .col-xl-6.pad-right--xl
                h2.spacing-below--l Gain visibility into your team's progress.

                h3.heading-04 Easily Track Revisions

                p Create and track revisions made on a collection by you or anyone on your team by viewing the changelog.


                h3.heading-04 Restore Previous Versions
                p Rollback changes you didn't intend by restoring a previous version of the collection using snapshots.

                h3.heading-04 Review User Activity
                p View a summary of your team activity or an individual’s activity on the Postman Dashboard. Or dive deeper with team-level reports.



    .container.spacing-below--xxl
        .row.align-items-center
            .col-xl-8
                h2 Use Cases

                p.intro Discover how Postman enables API-first development, automated testing, and developer onboarding.

                .row.spacing-below--xs.spacing-top--l
                    .col-xl-6.pad-right--l
                        h3.heading-04 API-First Development
                        p.spacing-below--xs 
                            | Release reliable services by building your API before deploying code.
                        p
                            a(href="#") Learn more  &rarr;

                    
                    .col-xl-6.pad-right--l
                        h3.heading-04 Application Development
                        p.spacing-below--xs Eliminate dependencies and reduce time to production by having front-end and back-end teams work in parallel.
                        p
                            a(href="#") Learn more  &rarr;

                .row.spacing-below--xs
                    .col-xl-6.pad-right--l
                        h3.heading-04 Automated Testing
                        p.spacing-below--xs Automate manual tests and integrate them into your CI/CD pipeline to ensure that any code changes won't break the API in production.

                        p
                            a(href="#") Learn more  &rarr;

                    .col-xl-6.pad-right--l
                        h3.heading-04 Exploratory Testing
                        p.spacing-below--xs Explore the API by sending it different kinds of data to see what values are returned.

                        p
                            a(href="#") Learn more  &rarr;

                .row
                    .col-xl-6.pad-right--l
                        h3.heading-04 Developer Onboarding
                        p.spacing-below--xs Quickly get consumers up to speed on what your API can do and how it works.

                        p
                            a(href="#") Learn more  &rarr;

                    .col-xl-6.pad-right--l
                        h3.heading-04 Developer Portals
                        p.spacing-below--xs Publish API documentation to help internal and external consumers adopt your APIs.

                        p
                            a(href="#") Learn more  &rarr;


                
            

            .col-xl-4
                img.w-100.mb-4(src="https://refresh-2021.www.postman-beta.com/assets/api-platform/enterprise2.svg")        
