include includes/header.pug

include includes/nav.pug

body

    .c-hero.has-bg
        .container.d-flex.align-items-stretch
            .row.align-items-center
                .col-xl-6.col-md-7.pad-right--xxl
                    h1 Build APIs Together

                    p.intro Over 15 million developers use Postman. Get started by signing up or downloading the desktop app.

                    .input-wrap.input-wrap--inline
                        label.input-label.sr-only(for="input-13" aria-hidden="false") Email Address 

                        input(type="text" name="input-13" id="input-13" placeholder="Email Address")

                        button.button-primary Sign Up for Free
                            

                
                .col-xl-6.col-md-5
                    img.w-100.mb-4(src="../i/screenshots/screenshot-sample.png")

    hr.m-0


    .c-hero
        .container.d-flex.align-items-stretch
            .row.align-items-center
                .col-xl-6.col-md-7.pad-right--xxl
                    .container.p-0
                        .row
                            .col-xl-8
                                p.eyebrow API Platform

                                h1 Create API Documentation with Postman

                    p.intro Use Postman’s API documentation tool to generate beautiful, machine-readable documentation for your API and automatically keep it up to date.

                    a.button-secondary(href="#") Read the Docs

                
                .col-xl-6.col-md-5
                    img.w-100(src="../i/postman-tools.png")

    hr.m-0
                    
    

    .c-hero.has-bg
        .container.d-flex.align-items-stretch
            .row.align-items-center
                .col-xl-5.pad-right--xl
                    h1.pad-right--xl Postman Learning Center

                    p.intro Learn how to use Postman. Check out the docs and support resources!

                    a.button-secondary(href="#") Explore the Docs

                
                .col-xl-6.offset-xl-1
                    img.w-100(src="../i/postman-space-camp.png")


    
    hr.m-0



    .c-hero.has-bg--alt
        .container.d-flex.align-items-stretch
            .row.align-items-center
                .col-xl-6.pad-right--xl
                    h1 Case Studies

                    p.intro As companies look to transform into API-first businesses, they’re leveraging the Postman API Platform for these three key benefits:

                    .container.p-0
                        .row
                            .col-md-10
                                ul.list-unordered
                                    li
                                        strong High Productivity 
                                        |  through superior discoverability and collaboration

                                    li
                                        strong Great Quality 
                                        |  through comprehensive testing and lifecycle management

                                    li
                                        strong Airtight Governance
                                        |  through better design, validation, and user management

                    

                
                .col-xl-6
                    img.w-100(src="../i/postman-events.png")



    hr.m-0


    .c-hero
        .container.d-flex.align-items-stretch
            .row.align-items-center
                .col-xl-6.pad-right--xl
                    p.c-breadcrumb
                        a.c-breadcrumb__link(href="#") Case Studies

                        span.c-breadcrumb__sep /

                        span.c-breadcrumb__item Twitter


                    h1 Twitter Grows Its Developer Ecosystem with Postman and the Postman API Network


                    

                
                .col-xl-6
                    img.w-100.pt-5(src="https://www.postman.com/assets/case-studies/companies/twitter/cs-twitter.svg")



    hr.m-0



    .c-hero.has-bg
        .container.d-flex.align-items-stretch
            .row.align-items-center
                .col-xl-5.pad-right--xl
                    img.w-50.spacing-below--xs(src="https://www.postman.com/assets/student-program/student-summit/student-summit-logo.svg")

                    h1 The API Conference for Students and Educators

                    p.intro.spacing-below--l August 7–8, 2021


                .col-xl-7
                    img.w-100.pt-5(src="../i/postman-webinars.png")


    hr.m-0