doctype strict
html.p-home(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title PMDS
        meta(name='robots', content='index, follow')
        meta(name='title', content='PMDS')
        meta(name='DC.title', content='PMDS')
        meta(name='author', content='Amrinder Sandhu')
        meta(name='description', content='Postman Design System Sandbox')
        meta#viewport(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='apple-touch-icon' sizes='180x180' href='/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
        link(rel='manifest' href='/site.webmanifest')
        link(rel='mask-icon' href='/safari-pinned-tab.svg' color='#ff6c37')
        meta(name='msapplication-TileColor' content='#111111')
        meta(name='theme-color' content='#ffffff')


        link(rel='stylesheet', href='css/styles.css', type='text/css')
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap")
        
        
        



    body.flex.flex-gap#to-top
        .container-xl
            .grid
                .col-lap-12.col-tab-8
                    h1.page-title.spacing-below--xl Testing Layout


                    p.intro.spacing-below--xl We are going to test responsive layout here. Both strict and custom :)
        

                    .col-12.sb-grid_marker
                        span Full width

            .grid
                .col-lap-3.col-tab

            
            .grid
                .col-lap-3.col-tab-4.sb-grid_marker
                    span 1/4

                .col-lap-9.col-tab-4.sb-grid_marker
                    span 3/4


            .grid
                .col-lap-3.sb-grid_marker
                    span 1/4

                .col-lap-6.sb-grid_marker
                    span 1/2

                .col-lap-3.sb-grid_marker
                    span 1/4


                