include includes/header.pug

body.pg-lc_details.has-nav-secondary
    include includes/nav.pug

    include includes/nav-learning.pug

    .container-fluid.p-0
        .row
            .col-3
                nav.c-sidenav
                    ul
                        li.0is-collapsed
                            button(type="button") 
                                <svg class="icon-parent-indicator" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6.5,3.5 11,8 6.5,12.5 "></polyline></g></svg>
                                | Getting Started

                            ul
                                li
                                    a(href="#") Introduction

                                li
                                    a(href="#") Navigating Postman

                                li
                                    a(href="#") Sending your first request

                                li
                                    a(href="#") Managing your account
                                
                                li
                                    a(href="#") Introduction

                                li
                                    a(href="#") Navigating Postman

                                li
                                    a(href="#") Sending your first request

                                li
                                    a(href="#") Managing your account


                        li.is-collapsed
                            button(type="button") 
                                <svg class="icon-parent-indicator" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6.5,3.5 11,8 6.5,12.5 "></polyline></g></svg>
                                | Designing and Developing your API

                            ul
                                li
                                    a(href="#") Using the Collection Runner

                                li
                                    a(href="#") Scheduling runs with monitors

                                li
                                    a(href="#") Building request workflows

                                li
                                    a(href="#") Building request workflows
                                
                                li
                                    a(href="#") Importing data files

                                li
                                    button(type="button") 
                                        <svg class="icon-parent-indicator" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6.5,3.5 11,8 6.5,12.5 "></polyline></g></svg>
                                        | Using Newman CLI

                                ul.is-collapsed
                                    li
                                        a(href="#") Running collections on the command line with Newman

                                    li
                                        a(href="#") Newman with Docker

                                    li
                                        a(href="#") CI with Postman API

                                    li
                                        a(href="#") Integrating with Travis CI
                                    
                                    li
                                        a(href="#") Integrating with Jenkins


                        li.is-collapsed
                            button(type="button") 
                                <svg class="icon-parent-indicator" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6.5,3.5 11,8 6.5,12.5 "></polyline></g></svg>
                                | Publishing Your API

                        
                        li.is-collapsed
                            button(type="button") 
                                <svg class="icon-parent-indicator" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6.5,3.5 11,8 6.5,12.5 "></polyline></g></svg>
                                | API Security


                        li.is-collapsed
                            button(type="button") 
                                <svg class="icon-parent-indicator" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6.5,3.5 11,8 6.5,12.5 "></polyline></g></svg>
                                | Administration


                        li.is-collapsed
                            button(type="button") 
                                <svg class="icon-parent-indicator" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6.5,3.5 11,8 6.5,12.5 "></polyline></g></svg>
                                | Developer Resources


                        li.is-collapsed
                            button(type="button") 
                                <svg class="icon-parent-indicator" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g stroke-width="1" fill="none" stroke-linecap="round" stroke-linejoin="round"><polyline points="6.5,3.5 11,8 6.5,12.5 "></polyline></g></svg>
                                | Integrations
            
            




            .col-9
                .container.spacing-top--xl
                    .row
                        .col-xl-7.offset-1.c-doc
                            <h1>Introduction</h1>
                            <p>Welcome to the Postman docs! This is the place to find official information on how to use Postman in your API projects.</p>
                            <p><a href="https://assets.postman.com/postman-docs/postman-app-default-v8.jpg"><img src="https://assets.postman.com/postman-docs/postman-app-default-v8.jpg" alt="Postman"></a></p>
                            <p>If you're just starting to learn about APIs and Postman, you can use a variety of channels both in and outside Postman:</p>
                            <ul>
                            <li><a href="/docs/getting-started/sending-the-first-request/"><strong>Send your first request!</strong></a></li>
                            <li>Use the <strong>Bootcamp</strong> to work through lessons inside Postman—open it at the bottom right of the app.</li>
                            <li>
                            <p>Explore <a href="https://www.postman.com/explore">workspaces, collections, and more</a> that you can try out inside Postman, like the following:</p>
                            <ul>
                            <li><a href="https://www.postman.com/postman/workspace/published-postman-templates/collection/9065401-ff29b3be-af69-4442-91e0-c1158b620fc2?ctx=documentation"><strong>Learn by API</strong></a>–walk through beginner API concepts.</li>
                            <li><a href="https://www.postman.com/postman/workspace/postman-galaxy-training/overview"><strong>Postman Training</strong></a>–Learn APIs 101, Testing and Automation, API Adoption, and API First, earning <a href="https://badgr.com/public/issuers/BC0x4AQaQPC7lFilsBP_tQ/badges">Postman badges</a>.</li>
                            <li><a href="https://www.postman.com/postman/workspace/postman-student-program/overview"><strong>Student Program</strong></a>–Take the Student Expert training, covering request configurations and test scripting.</li>
                            </ul>
                            </li>
                            </ul>
                            <h2 id="what-are-you-here-to-learn-about" style="position:relative;"><a href="#what-are-you-here-to-learn-about" aria-label="what are you here to learn about permalink" class="anchor before"><svg aria-hidden="true" focusable="false" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>What are you here to learn about?</h2>
                            <p>If you're learning to carry out a specific task or workflow in Postman, check out the following topics to find resources:</p>
                            <ul>
                            <li><a href="#making-requests"><strong>Making requests</strong></a></li>
                            <li><a href="#testing-apis"><strong>Testing APIs</strong></a></li>
                            <li><a href="#building-and-managing-apis"><strong>Building and managing APIs</strong></a></li>
                            <li><a href="#publishing-apis"><strong>Publishing APIs</strong></a></li>
                            <li><a href="#collaborating-with-your-team"><strong>Collaborating with your team</strong></a></li>
                            <li><a href="#developing-with-postman"><strong>Developing with Postman</strong></a></li>
                            </ul>
                            <h3 id="making-requests" style="position:relative;"><a href="#making-requests" aria-label="making requests permalink" class="anchor before"><svg aria-hidden="true" focusable="false" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Making requests</h3>
                            <p>If you're building a client app or just need to connect to an API, check out some Postman essentials:</p>
                            <ul>
                            <li><a href="/docs/sending-requests/requests/">Connecting to APIs</a></li>
                            <li><a href="/docs/sending-requests/authorization/">Authorizing requests</a></li>
                            <li><a href="/docs/sending-requests/intro-to-collections/">Grouping requests in collections</a></li>
                            <li><a href="/docs/sending-requests/variables/">Using variables</a></li>
                            <li><a href="/docs/sending-requests/visualizer/">Visualizing data</a></li>
                            </ul>
                            <h3 id="testing-apis" style="position:relative;"><a href="#testing-apis" aria-label="testing apis permalink" class="anchor before"><svg aria-hidden="true" focusable="false" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Testing APIs</h3>
                            <p>If you're testing an API, you can use Postman to automate various parts of the process:</p>
                            <ul>
                            <li><a href="/docs/writing-scripts/test-scripts/">Writing test scripts</a></li>
                            <li><a href="/docs/running-collections/intro-to-collection-runs/">Automating workflows with the collection runner</a></li>
                            <li><a href="/docs/sending-requests/capturing-request-data/capturing-http-requests/">Capturing HTTP requests</a></li>
                            <li><a href="/docs/writing-scripts/script-references/test-examples/">Test script examples</a></li>
                            </ul>
                            <h3 id="building-and-managing-apis" style="position:relative;"><a href="#building-and-managing-apis" aria-label="building and managing apis permalink" class="anchor before"><svg aria-hidden="true" focusable="false" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Building and managing APIs</h3>
                            <p>If you're developing a back-end, working API-first, or need to monitor API performance, Postman utilities can streamline your workflows:</p>
                            <ul>
                            <li><a href="/docs/designing-and-developing-your-api/the-api-workflow/">Defining an API from a schema</a></li>
                            <li><a href="/docs/designing-and-developing-your-api/monitoring-your-api/intro-monitors/">Monitoring test runs</a></li>
                            <li><a href="/docs/designing-and-developing-your-api/view-and-analyze-api-reports/">Analyzing API performance</a></li>
                            <li><a href="/docs/designing-and-developing-your-api/mocking-data/setting-up-mock/">Mocking responses</a></li>
                            </ul>
                            <h3 id="publishing-apis" style="position:relative;"><a href="#publishing-apis" aria-label="publishing apis permalink" class="anchor before"><svg aria-hidden="true" focusable="false" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Publishing APIs</h3>
                            <p>If you're exposing an API for public use, Postman can support developer onboarding:</p>
                            <ul>
                            <li><a href="/docs/publishing-your-api/documenting-your-api/">Publishing documentation</a></li>
                            <li><a href="/docs/publishing-your-api/run-in-postman/introduction-run-button/">Using Run in Postman</a></li>
                            </ul>
                            <h3 id="collaborating-with-your-team" style="position:relative;"><a href="#collaborating-with-your-team" aria-label="collaborating with your team permalink" class="anchor before"><svg aria-hidden="true" focusable="false" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Collaborating with your team</h3>
                            <p>If you're using Postman in your company or team, check out these guides to maximize your collaboration:</p>
                            <ul>
                            <li><a href="/docs/collaborating-in-postman/collaboration-intro/">Collaborating in Postman</a></li>
                            <li><a href="/docs/collaborating-in-postman/using-workspaces/creating-workspaces/">Creating workspaces</a></li>
                            <li><a href="/docs/administration/managing-your-team/managing-your-team/">Managing Postman for an organization</a></li>
                            <li><a href="/docs/administration/onboarding-checklist/">Onboarding your team</a></li>
                            </ul>
                            <h3 id="developing-with-postman" style="position:relative;"><a href="#developing-with-postman" aria-label="developing with postman permalink" class="anchor before"><svg aria-hidden="true" focusable="false" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Developing with Postman</h3>
                            <p>If you're integrating Postman with your CI/CD workflow or are developing with Postman APIs or libraries, check out these resources:</p>
                            <ul>
                            <li><a href="/docs/running-collections/using-newman-cli/command-line-integration-with-newman/">Integrating with a development pipeline</a></li>
                            <li><a href="/docs/developer/resources-intro/">Developing with Postman utilities</a></li>
                            <li><a href="/docs/developer/intro-api/">Postman API</a></li>
                            </ul>
                            <hr/>
                            <h2 id="providing-feedback" style="position:relative;"><a href="#providing-feedback" aria-label="providing feedback permalink" class="anchor before"><svg aria-hidden="true" focusable="false" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Providing feedback</h2>
                            <p>Share your thoughts on the documentation and help the Postman team to improve it for yourself and other learners! To submit feedback, please <a href="https://github.com/postmanlabs/postman-docs/issues">create an issue on the documentation GitHub repo</a> or post in the <a href="https://community.postman.com/">community forum</a>.</p>
                            <p>Help improve Postman and have an impact on <a href="https://github.com/postmanlabs/postman-app-support/projects/45?fullscreen=true">Postman's roadmap</a> by sending your feedback directly to Postman's developer team. To submit feature requests, <a href="https://github.com/postmanlabs/postman-app-support/issues">create an issue on the Postman GitHub repo</a>.</p>

                            <p>You can send requests in Postman to connect to APIs you are working with. Your requests can retrieve, add, delete, and update data. Whether you are building or testing your own API, or integrating with a third-party API, you can try out your requests in Postman. Your requests can send parameters, authorization details, and any body data you require.</p>

                            <blockquote>
                                <p>For example, if you're building a client application (e.g. a mobile or web app) for a store, you might send one request to retrieve the list of available products, another request to create a new order (including the selected product details), and a different request to log a customer in to their account.</p>
                            </blockquote>

                            <p>When you send a request, Postman will display the response received from the API server in a way that lets you examine, visualize, and if necessary troubleshoot it.</p>

                            <h3 id="importing-via-github-repositories" style="position:relative;"><a href="#importing-via-github-repositories" aria-label="importing via github repositories permalink" class="anchor before"><svg aria-hidden="true" focusable="false" height="16" version="1.1" viewBox="0 0 16 16" width="16"><path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path></svg></a>Importing via GitHub repositories</h3>

                            <blockquote>
                                <p>You must be signed in to a <a href="/docs/getting-started/postman-account/#signing-up-for-a-postman-account">Postman account</a> to use this feature.</p>
                            </blockquote>

                            <p>You can import data in bulk from a GitHub repository by selecting <strong>Import</strong> &gt; <strong>Code repository</strong> &gt; <strong>GitHub</strong>.</p>


                        .col-xl-3.offset-1
                            .c-context_nav.spacing-top--xl
                                button.button-secondary.spacing-below--l
                                    <svg class="button-icon--left" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>logo-github</title><g fill="#212121"><path fill-rule="evenodd" clip-rule="evenodd" fill="#212121" d="M8,0.2c-4.4,0-8,3.6-8,8c0,3.5,2.3,6.5,5.5,7.6 C5.9,15.9,6,15.6,6,15.4c0-0.2,0-0.7,0-1.4C3.8,14.5,3.3,13,3.3,13c-0.4-0.9-0.9-1.2-0.9-1.2c-0.7-0.5,0.1-0.5,0.1-0.5 c0.8,0.1,1.2,0.8,1.2,0.8C4.4,13.4,5.6,13,6,12.8c0.1-0.5,0.3-0.9,0.5-1.1c-1.8-0.2-3.6-0.9-3.6-4c0-0.9,0.3-1.6,0.8-2.1 c-0.1-0.2-0.4-1,0.1-2.1c0,0,0.7-0.2,2.2,0.8c0.6-0.2,1.3-0.3,2-0.3c0.7,0,1.4,0.1,2,0.3c1.5-1,2.2-0.8,2.2-0.8 c0.4,1.1,0.2,1.9,0.1,2.1c0.5,0.6,0.8,1.3,0.8,2.1c0,3.1-1.9,3.7-3.7,3.9C9.7,12,10,12.5,10,13.2c0,1.1,0,1.9,0,2.2 c0,0.2,0.1,0.5,0.6,0.4c3.2-1.1,5.5-4.1,5.5-7.6C16,3.8,12.4,0.2,8,0.2z"></path></g></svg>

                                    | Edit this doc


                                h5 Prerequisites

                                ul.spacing-below--m
                                    li
                                        a.small(href="#") Download and Install

                                    li
                                        a.small(href="#") Installation and updates

                                
                                h5.spacing-below--xs Additional Resources

                                h6 Videos

                                ul.spacing-below--xs
                                    li
                                        a.small(href="#") Download and Install

                                    li
                                        a.small(href="#") Installation and updates


                                h6 Related blog posts

                                ul
                                    li
                                        a.small(href="#") First 5 things to try if you're new to Postman
                                

                                figure
                                    img.w-75(src="../../i/pose-learning-center.svg")





    hr.m-0
    
    include includes/footer.pug