include includes/header.pug

body
    include includes/nav.pug

    
    .c-hero.has-bg.spacing-below--xxl
        .container
            .row
                .col-xl-8
                    h1 Logo Wall

    //.container.spacing-below--xxl#logo-wall
        .row.spacing-below--xl
            .col-xl-5.pad-right--xl
                h2 500,000 Companies are using Postman Today

                p Join these companies and more than 17 million developers who are already building, running, and distributing APIs with Postman.

                a.button-primary(href="#") Buy now

        
        
            .col-xl-7.c-logo_wall
                .d-flex.justify-content-between.spacing-below--l
                    img(src="../i/logos/logo-cisco.svg")

                    img(src="../i/logos/logo-imgur.svg")

                    img(src="../i/logos/logo-amc.svg")

                    img(src="../i/logos/logo-okta.svg")

                    img(src="../i/logos/logo-intuit.svg")

        
        
                .d-flex.justify-content-between.spacing-below--l
                    img(src="../i/logos/logo-amc.svg")

                    img(src="../i/logos/logo-imgur.svg")

                    img(src="../i/logos/logo-okta.svg")

                    img(src="../i/logos/logo-intuit.svg")

                    img(src="../i/logos/logo-cisco.svg")


                .d-flex.justify-content-between
                    img(src="../i/logos/logo-cisco.svg")

                    img(src="../i/logos/logo-intuit.svg")

                    img(src="../i/logos/logo-okta.svg")

                    img(src="../i/logos/logo-imgur.svg")

                    img(src="../i/logos/logo-amc.svg")


    //hr.spacing-below--xxl             




    .container.spacing-below--xxl#logo-wall
        .row.spacing-below--xl
            .col-xl-8.offset-2.text-center
                h2 500,000 Companies are using Postman Today

                p.intro Join these companies and more than 17 million developers who are already building, running, and distributing APIs with Postman.

                
                a.button-primary.spacing-right--xs(href="#") Buy Now

                a.button-secondary(href="#") Contact Sales
        
        .row
            .col-xl-12.c-logo_wall--alt
                .d-flex.justify-content-between.spacing-below--m
                    img(src="../i/logos/logo-cisco.svg")

                    img(src="../i/logos/logo-imgur.svg")

                    img(src="../i/logos/logo-amc.svg")

                    img(src="../i/logos/logo-okta.svg")

                    img(src="../i/logos/logo-intuit.svg")

        

        
    .c-section.has-bg
        .container
            .row.spacing-below--xl
                .col-xl-8.offset-2.text-center
                    h2 500,000 Companies are using Postman Today

                    p.intro Many of the world's top organizations, including 98% of the Fortune 500, are using the Postman API Platform today.

                    
                    a.button-primary.spacing-right--xs(href="#") Buy Now

                    a.button-secondary(href="#") Contact Sales
            
            .row
                .col-xl-12.c-logo_wall--alt
                    .d-flex.justify-content-between
                        img(src="../i/logos/logo-cisco.png")

                        img(src="../i/logos/logo-imgur.png")

                        img(src="../i/logos/logo-amc.png")

                        img(src="../i/logos/logo-okta.png")

                        img(src="../i/logos/logo-intuit.png")
                       


    include includes/footer.pug