include includes/header.pug

include includes/nav.pug


.c-hero
    .container.d-flex.align-items-stretch
        .row.align-items-center
            .col-xl-5.pad-right--xl
                p.eyebrow Company

                h1 What’s it like to work at Postman?

                p.intro Great question. This page is designed to answer it by giving you a peek into who we are, what we do, and how we do it.

                a.button-secondary(href="#") View Open Positions

            .col-xl-7
                figure.spacing-top--xl
                    img.img-style-1.mb-5(src="https://www.postman.com/assets/careers-page/comp-careerslandingpage-herophoto.png")

hr


.container.spacing-below--xxl
    .row
        .col-xl-8
            h2.spacing-top--xl About Postman

            p.intro Postman is the collaboration platform for API development. Postman simplifies each step of building an API and streamlines collaboration so you can create better APIs—faster. But perhaps more importantly, Postman is a collection of the smartest, nicest, and most interesting people on planet Earth.

    .row.spacing-top--xl.spacing-below--xl.align-items-center
        .col-xl-3
            img.img-style-1.w-100(src="https://ca.slack-edge.com/T02G7V5JE-U013CMPRNLX-5ba4744f1ae2-512")
        

        .col-xl-8.offset-md-1
            p.eyebrow Design

            blockquote 
                span.l-quote “

                | Everyone I have worked with is honest about what they know and what they don’t know. There is no pretending.

                span.r-quote ”

                footer
                    strong Sanket Pathak
                    | , Product Designer



    

.c-section.spacing-below--xxl
    .container
        .row.align-items-center.spacing-below--l
            .col-xl-8
                h2 Our Values

                p.intro At Postman, we create with the same curiousity that we see in our users. We value transparency and honest communication about not only successes, but mistakes. In our work, we focus on specific goals that add up to a larger vision. Our inclusive work culture ensures that everyone is valued equally as important pieces of our final product. We are dedicated to delivering the best products we can.

                
        .row
            .col-xl-4.pad-right--l.spacing-below--l
                figure.mb-5.w-12
                    img(src="../../i/spot-illu/spot-icon-03.svg")

                h3.heading-04 Create with Curiosity   

                p We repeatedly ask 'why?' and challenge best practices.


            .col-xl-4.pad-right--l.spacing-below--l
                figure.mb-5.w-12
                    img(src="../../i/spot-illu/spot-icon-03.svg")

                h3.heading-04 Create with Curiosity   

                p We repeatedly ask 'why?' and challenge best practices.


            .col-xl-4.pad-right--l.spacing-below--l
                figure.mb-5.w-12
                    img(src="../../i/spot-illu/spot-icon-03.svg")

                h3.heading-04 Create with Curiosity   

                p We repeatedly ask 'why?' and challenge best practices.


            .col-xl-4.pad-right--l
                figure.mb-5.w-12
                    img(src="../../i/spot-illu/spot-icon-03.svg")

                h3.heading-04 Create with Curiosity   

                p We repeatedly ask 'why?' and challenge best practices.


            .col-xl-4.pad-right--l
                figure.mb-5.w-12
                    img(src="../../i/spot-illu/spot-icon-03.svg")

                h3.heading-04 Create with Curiosity   

                p We repeatedly ask 'why?' and challenge best practices.






.container.spacing-below--xxl
    .row.align-items-center.spacing-below--l
        .col-xl-8
            h2 Benefits

            p.intro We offer competitive salary and benefits, an informal and fun working environment, and provide lunch every day. (Yes, seriously. Every day.) We believe in autonomous small teams taking on big challenges, and we’re intentional about building an inclusive culture where everyone is able to do their best work and be the best version of themselves. We’re building a long-term company, and we want you to be part of it.

    .row
        .col-xl-8    
            .row
                .col-xl-6.pad-right--l.spacing-below--l
                    h3.heading-04 Medical   

                    p We offer company-subsidized medical plans to keep you healthy.


                .col-xl-6.pad-right--l.spacing-below--l
                    h3.heading-04 Dental  

                    p We offer company-subsidized dental plans to keep you smiley.


                .col-xl-6.pad-right--l.spacing-below--l
                    h3.heading-04 Vision

                    p We offer company-subsidized vision plans so you can see your brilliant colleagues.


                .col-xl-6.pad-right--l
                    h3.heading-04 Drums

                    p There’s a drum set in the Bangalore office. If you’re ever there, you should play it.




.c-section.spacing-below--xxl
    .container
        .row.align-items-center.spacing-below--l
            .col-xl-8
                h2 Teams

                
        .row
            .col-xl-3.pad-right--l.spacing-below--l
                figure.mb-5.w-12
                    img(src="../../i/spot-illu/spot-icon-03.svg")

                h3.heading-04 Engineering

                p We repeatedly ask 'why?' and challenge best practices.


            .col-xl-3.pad-right--l.spacing-below--l
                figure.mb-5.w-12
                    img(src="../../i/spot-illu/spot-icon-03.svg")

                h3.heading-04 Design

                p We repeatedly ask 'why?' and challenge best practices.


            .col-xl-3.pad-right--l.spacing-below--l
                figure.mb-5.w-12
                    img(src="../../i/spot-illu/spot-icon-03.svg")

                h3.heading-04 Create with Curiosity   

                p We repeatedly ask 'why?' and challenge best practices.


            .col-xl-3.pad-right--l
                figure.mb-5.w-12
                    img(src="../../i/spot-illu/spot-icon-03.svg")

                h3.heading-04 Product

                p We repeatedly ask 'why?' and challenge best practices.


            .col-xl-3.pad-right--l
                figure.mb-5.w-12
                    img(src="../../i/spot-illu/spot-icon-03.svg")

                h3.heading-04 Marketing / Developer Relations

                p We repeatedly ask 'why?' and challenge best practices.

            
            .col-xl-3.pad-right--l.spacing-below--l
                figure.mb-5.w-12
                    img(src="../../i/spot-illu/spot-icon-03.svg")

                h3.heading-04 Engineering

                p We repeatedly ask 'why?' and challenge best practices.


            .col-xl-3.pad-right--l.spacing-below--l
                figure.mb-5.w-12
                    img(src="../../i/spot-illu/spot-icon-03.svg")

                h3.heading-04 Design

                p We repeatedly ask 'why?' and challenge best practices.


            .col-xl-3.pad-right--l.spacing-below--l
                figure.mb-5.w-12
                    img(src="../../i/spot-illu/spot-icon-03.svg")

                h3.heading-04 Create with Curiosity   

                p We repeatedly ask 'why?' and challenge best practices.


            .col-xl-3.pad-right--l
                figure.mb-5.w-12
                    img(src="../../i/spot-illu/spot-icon-03.svg")

                h3.heading-04 Product

                p We repeatedly ask 'why?' and challenge best practices.


            .col-xl-3.pad-right--l
                figure.mb-5.w-12
                    img(src="../../i/spot-illu/spot-icon-03.svg")

                h3.heading-04 Marketing / Developer Relations

                p We repeatedly ask 'why?' and challenge best practices.




.container.spacing-below--xxl
        .row.align-items-center
            .col-xl-5.pad-right--xl
                h2.heading-01 Join Postman

                p.intro If you’ve read this far, we like you already. We’re always searching for smart, nice people in all fields, so feel free to take a peek at our open positions.

                a.button-secondary(href="#") View Open Positions
                                

            .col-xl-7
                figure.spacing-top--xl
                    img.img-style-1.mb-5(src="https://www.postman.com/assets/careers-page/img-team-join-postman.png")




