include includes/header.pug

body
    include includes/nav-learning.pug

    .c-hero
        .container.d-flex.align-items-stretch
            .row.align-items-center
                .col-xl-5.pad-right--l
                    h1 Postman 
                        br
                        | Learning Center

                    p.intro Learn how to use Postman. Check out the docs and support resources!

                    a.button-primary(href="/lc-details.html") Explore the Docs

                .col-xl-6.offset-md-1
                    figure
                        img.w-100(src="../../i/hero-learning-center.svg")

    hr.mt-0


    .container.spacing-below--xxl
        .row
            .col
                h2.spacing-top--xl.spacing-below--xl Design, develop, and collaborate on your API projects

        .row.spacing-below--xl
            .col-xl-4.pad-right--xxl
                figure.mb-5.w-12
                    img(src="../../i/graphics/graphic-spaceship.svg")
                    
                h3.heading-04 Get Started

                p Send your first API request in Postman in just a few clicks!

                a.button-secondary(href="#") Send a request &rarr;


            .col-xl-4.pad-right--xxl
                figure.mb-5.w-12
                    img(src="../../i/graphics/graphic-lab.svg")

                h3.heading-04 Test

                p Write test scripts and build automation into your workflow.

                a.button-secondary(href="#") Create tests &rarr;


            .col-xl-4.pad-right--xl
                figure.mb-5.w-12
                    img(src="../../i/graphics/graphic-trophy.svg")

                h3.heading-04 30 Days of Postman

                p Tackle a new challenge each day with these developer tutorials.

                a.button-secondary(href="#") Start the challenge &rarr;




        .row
            .col-xl-4.pad-right--xxl
                figure.mb-5.w-12
                    img(src="../../i/graphics/graphic-hut.svg")
                    
                h3.heading-04 Postman Space Camp

                p See previous and upcoming educational webinars.

                a.button-secondary(href="#") See webinars &rarr;


            .col-xl-4.pad-right--xxl
                figure.mb-5.w-12
                    img(src="../../i/graphics/graphic-network.svg")

                h3.heading-04 Postman Network

                p Browse APIs, workspaces, and collections inside Postman.

                a.button-secondary(href="#") Explore Postman &rarr;


            .col-xl-4.pad-right--xxl
                figure.mb-5.w-12
                    img(src="../../i/graphics/graphic-movie.svg")

                h3.heading-04 Videos

                p Learn Postman skills from our video playlists.

                a.button-secondary(href="#") Watch Videos &rarr;
                



    .c-section.spacing-below--xxl
        .container
            .row.align-items-center
                .col-xl-4
                    h2 Intro to Postman

                    p.intro.spacing-below--s Learn the Postman fundamentals in this video course for beginners.

                    p.intro Send and authorize a request, write test scripts, and chain requests together.

                    
                        

                .col-xl-7.offset-md-1
                    //img.w-100.mb-4(src="../i/video-sample.png")
                    <iframe class="has-frame" width="664" height="374" src="https://www.youtube.com/embed/7E60ZttwIpY?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



    .container.spacing-below--xl
        .row
            .col-xl-5.pad-right--xl
                h2 Upcoming Postman Livestreams

                p 
                    a(href="#") Follow us
                    |  on Twitch or 
                    
                    a(href="#") subscribe
                    |  to our YouTube channel so you don’t miss when we go live.
            

            .col-xl-6.offset-md-1
                .row.spacing-below--l
                    .col-3
                        p.heading-03 Aug 7


                    .col-9
                        p.eyebrow ONLINE – 8/7/2021 9 AM PDT

                        h4 The Postman Student Summit: The API Conference for Students and Educators

                        p The Postman Student Summit is a comprehensive online API event for students and educators from all over the world to collaboratively learn, share, and …

                        p 
                            a(href="#") See details &rarr; 

                .row.spacing-below--l
                    .col-3
                        p.heading-03 Aug 12


                    .col-9
                        p.eyebrow ONLINE – 8/7/2021 9 AM PDT

                        h4 Hacking My Roomba

                        p Joyce and Arlemi put their hacker hat on and jump into the meanders of networking to take over the control of a Roomba using only APIs.

                        p 
                            a(href="#") See details &rarr; 


                .row.spacing-below--l
                    .col-3
                        p.heading-03 Aug 18


                    .col-9
                        p.eyebrow ONLINE – 8/7/2021 9 AM PDT

                        h4 Design and Prototype an API

                        p Join Postman developer advocate Arlemi Turpault for a one-hour, next-level Postman webinar geared specifically for API producers. Learn how to build …

                        p 
                            a(href="#") See details &rarr; 


                .row.spacing-below--l
                    .col-3
                        p.heading-03 Aug 26


                    .col-9
                        p.eyebrow ONLINE – 8/7/2021 9 AM PDT

                        h4 Integrating with a custom Salesforce App in Postman

                        p The Salesforce Platform APIs are one of the most popular collections in the Postman API Network. Arlemi welcomes Philippe Ozil (Principal Developer …

                        p 
                            a(href="#") See details &rarr; 

    hr.spacing-below--xxl


    .container.spacing-below--xxl
        .row
            .col-xl-4.pad-right--l
                figure.mb-5.w-12
                    img(src="../../i/graphics/graphic-help.svg")
                    
                h3.heading-04 Postman support

                p Reach out to our support team.

                a.button-secondary(href="#") Open a ticket &rarr;


            .col-xl-4.pad-right--l
                figure.mb-5.w-12
                    img(src="../../i/graphics/graphic-bug.svg")

                h3.heading-04 Bugs and feature requests

                p Check out the app support repo.

                a.button-secondary(href="#") Make a request &rarr;


            .col-xl-4.pad-right--l
                figure.mb-5.w-12
                    img(src="../../i/graphics/graphic-community.svg")

                h3.heading-04 Community

                p Join the Postman community.

                a.button-secondary(href="#") Visit Forum &rarr;



    hr.spacing-below--xxl



    include includes/footer.pug