include includes/header.pug

include includes/nav.pug


.c-hero.h-25
    .container.d-flex.align-items-stretch
        .row.align-items-center
            .col-xl-6
                h1 Business Analyst, Strategy and Operations — Bangalore


                
hr


.container.mb-5
    .row
        .col-xl-8
            p.c-breadcrumb
                a.c-breadcrumb__link(href="#") All open positions

                span.c-breadcrumb__sep /

                span.c-breadcrumb__item Business Analyst, Strategy and Operations


            h2 Description

            p We are seeking passionate and highly driven individuals to join the Strategy and Operations team at Postman. The Strategy and Operations (RevOps) function works closely with other Customer Org teams - Sales, Customer Success and Solutions Engineering. This role will partner closely with the Revenue Operations leadership to help make data driven decisions and manage processes for the GTM teams at Postman.

            h2 Responsibilities

            ul.list-unordered
                li Be a part of high priority strategic initiatives for the GTM teams and proactively provide insights based on data and analysis to improve new business, revenue expansion, retention and churn metrics.

                li Execute scalable processes for the GTM teams, reduce friction in existing processes, and continuously improve upon them
                
                li Own and drive the GTM teams adoption and usage of best-in-class tools by collecting feedback and providing excellent issue resolution support

                li Assist in tracking and improving business reporting for the GTM teams
                
                li Conduct periodic business reviews for the leadership
                
                li Ensure GTM teams KPIs are tracked and met. Deliver periodic insights and red/green flag updates to the leadership
                
                li Develop resources that assist the GTM teams in client interactions and their usage of Postman’s internal systems and tools

                li Assist GTM teams with market research on industries and portfolio companies

            
            h2 Requirements

            ul.list-unordered
                li 1 to 3 years of experience in an analytics/operations driven role in consulting or SaaS or software products 

                li Comfortable working with large sets of data and generating insights, adept at handling ambiguity
                
                li Advanced Excel/SQL experience is preferred

                li Excellent verbal and written communication skills
                
        