include includes/header.pug

include includes/nav.pug

body
    .c-hero.has-bg.spacing-below--xxl
        .container
            .row.align-items-center
                .col-xl-6
                    p.eyebrow Company

                    h1 Press &amp; Media

                    

                .col-xl-6
                    img(src="../i/postman-security.svg")
    


    .container.spacing-below--xxl
        .row
            .col-xl-12
                h2.spacing-below--l Press Releases

            
                ul.c-rich-list
                    li
                        a(href="#") 
                            h4 Postman Closes $225 Million Series D Round at a $5.6 Billion Valuation to Power the API-First World
                            time.small  2021-08-18

                    li
                        a(href="#") 
                            h4 Postman Public API Network Now the World’s Largest Public API Hub
                            time.small  2021-08-06

                    li
                        a(href="#") 
                            h4 Postman Completes SOC 2® Type II Report, Helping to Ensure a More Secure API Experience

                            time.small  2021-06-30


                    li
                        a(href="#") 
                            h4 Postman Closes $225 Million Series D Round at a $5.6 Billion Valuation to Power the API-First World
                            time.small  2021-08-18

                    li
                        a(href="#") 
                            h4 Postman Public API Network Now the World’s Largest Public API Hub
                            time.small  2021-08-06

                    li
                        a(href="#") 
                            h4 Postman Public API Network 
                            time.small  2021-08-06

                    li
                        a(href="#") 
                            h4 Postman Closes $225 Million 
                            time.small  2021-08-18

                    li
                        a(href="#") 
                            h4 Postman Public API Network Now the World’s Largest Public API Hub
                            time.small  2021-08-06

                    li
                        a(href="#") 
                            h4 Postman Public API Network Now the World’s Largest Public API Hub
                            time.small  2021-08-06

                    li
                        a(href="#") 
                            h4 Postman Closes $225 Million Series D Round at a $5.6 Billion Valuation to Power the API-First World
                            time.small  2021-08-18

                    li
                        a(href="#") 
                            h4 Postman Public API Network Now the World’s Largest Public API Hub
                            time.small  2021-08-06

                    li
                        a(href="#") 
                            h4 Postman Public API Network Now the World’s Largest Public API Hub
                            time.small  2021-08-06


                    li
                        a(href="#") 
                            h4 Postman Closes $225 Million Series D Round at a $5.6 Billion Valuation to Power the API-First World
                            //time.small  2021-08-18

                    li
                        a(href="#") 
                            h4 Postman Public API Network Now the World’s Largest Public API Hub
                            //time.small  2021-08-06

                    li
                        a(href="#") 
                            h4 Postman Public API Network Now the World’s Largest Public API Hub
                            //time.small  2021-08-06

                    li
                        a(href="#") 
                            h4 Postman Closes $225 Million Series D Round at a $5.6 Billion Valuation to Power the API-First World
                            time.small  2021-08-18

                    li
                        a(href="#") 
                            h4 Postman Public API Network Now the World’s Largest Public API Hub
                            time.small  2021-08-06

                    li
                        a(href="#") 
                            h4 Postman Public API Network Now the World’s Largest Public API Hub
                            time.small  2021-08-06


                    li
                        a(href="#") 
                            h4 Postman Closes $225 Million Series D Round at a $5.6 Billion Valuation to Power the API-First World
                            time.small  2021-08-18

                    li
                        a(href="#") 
                            h4 Postman Public API Network Now the World’s Largest Public API Hub
                            time.small  2021-08-06

                    li
                        a(href="#") 
                            h4 Postman Public API Network Now the World’s Largest Public API Hub
                            time.small  2021-08-06


                    li
                        a(href="#") 
                            h4 Postman Closes $225 Million Series D Round at a $5.6 Billion Valuation to Power the API-First World
                            time.small  2021-08-18

                    li
                        a(href="#") 
                            h4 Postman Public API Network Now the World’s Largest Public API Hub
                            time.small  2021-08-06

                    li
                        a(href="#") 
                            h4 Postman Public API Network Now the World’s Largest Public API Hub
                            time.small  2021-08-06

                    li
                        a(href="#")
                            figure
                                img(src="../i/logos/startupgreenroom.png")

                            .c-rich-list__text 
                                h4 Postman Closes $225 Million Series D Round at a $5.6 Billion Valuation to Power the API-First World
                                time.small  2021-08-18

                    li
                        a(href="#")
                            figure
                                img(src="../i/logos/tech-crunch-logo.png")

                            .c-rich-list__text 
                                h4 Postman Public API Network Now the World’s Largest Public API Hub
                                time.small  2021-08-06

                    li
                        a(href="#")
                            figure
                                img(src="../i/logos/businesswire.png")
                            .c-rich-list__text 
                                h4 Postman Public API Network Now the World’s Largest Public API Hub
                                time.small  2021-08-06
                    

            
    hr



    include includes/footer.pug