include includes/header.pug

body
    include includes/nav.pug




    .c-hero.has-bg
        .container
            .row.spacing-below--xs 
                .col-xl-10.offset-md-1.text-center
                    h1 Plans and Pricing


            .row.border.rounded.spacing-below--xxl
                .col-xl-3.p-0.border-right
                    .pad-in--m
                        h3 Free

                        p.small.h-96 Perfect place to start designing, developing, and testing APIs.

                        p
                            span.d-flex.align-items-top.h-120
                                | $
                                span.heading-01 0

                        a.button-primary.w-100.spacing-below--m(href="#") Sign Up

                        p.text-small All the basics for up to 3 team members

                

                .col-xl-3.p-0.border-right
                    .pad-in--m
                        h3 Team

                        p.small.h-96 Collaborate across your team to design, develop, and test APIs faster.


                        p.h-120
                            span.d-flex.align-items-top 
                                | $
                                span.heading-01.spacing-below--xxs 12


                            small per user/month, billed annually

                            br

                            small $15 per user/month, billed monthly


                        a.button-primary.w-100.spacing-below--m(href="#") Buy Now

                        p.text-small.spacing-below--xxs Everything in Free, plus:

                        ul.list-unordered.list-unordered--checked.is-small.mb-0
                            li 10x Postman API usage limit

                            li 10 integrations



                .col-xl-3.p-0.border-right
                    .pad-in--m
                        h3 Business

                        p.small.h-96 Rapidly scale your organization and manage the entire API workflow, all in one place.

                        p.h-120
                            span.d-flex.align-items-top 
                                | $
                                span.heading-01.spacing-below--xxs 24


                            small per user/month, billed annually

                            br

                            small $30 per user/month, billed monthly


                        a.button-primary.w-100.spacing-below--m(href="#") Buy Now

                        p.text-small.spacing-below--xxs Everything in Team, plus:

                        ul.list-unordered.list-unordered--checked.is-small.mb-0
                            li 100x Postman API usage limit

                            li 50 integrations

                            li Basic roles and permissions

                            li Single Sign On (SAML)


                .col-xl-3.p-0
                    .pad-in--m
                        h3 Enterprise

                        p.small.h-96 Enterprise-grade offering, with powerful tools to securely manage, organize, and accelerate large-scale API development.

                        p.h-120
                            span.d-flex.align-items-top 
                                | $
                                span.heading-01.spacing-below--xxs 69


                            small per user/month, billed annually


                        a.button-primary.w-100.spacing-below--m(href="#") Contact Sales

                        p.text-small.spacing-below--xxs Everything in Business, plus:

                        ul.list-unordered.list-unordered--checked.is-small.mb-0
                            li 1,000x Postman API usage limit

                            li 100 integrations

                            li Reporting and Analytics

                            li User groups

                            li Automated Provisioning and Deprovisioning (SCIM)

                            li Domain Capture*





            .row.align-items-center.spacing-below--l
                .col-xl-2.offset-2
                    p.text-center 
                        span.heading-02 5x
                        br
                        span Faster API development

                .col-xl-2.offset-1
                    p.text-center 
                        span.heading-02 4x
                        br
                        span Faster bug fixes

                .col-xl-3.offset-1
                    p.text-center 
                        span.heading-02 10x
                        br
                        span More Effective API Collaboration


            .row.align-content-center
                .col-xl-10.offset-1.text-center
                    a.button-secondary.spacing-below--m(href="#") Download the Postman ROI Report

                    p.small Source: Enterprise Strategy Group (ESG) Report, “The Economic Benefits of the Postman Collaboration Platform for API Development”

    

    .c-section
        .container
            h2 Plan Comparison


    hr.m-0



    .c-section
        .container
            .row
                .col-xl-12
                    h2.spacing-below--l Frequently Asked Questions

                    .c-accordion__wrap
                        .c-accordion__item.is-collapsed
                            button.c-accordion__button.d-flex
                                .c-accordion__button__heading.heading-05 What does “Max # of APIs” mean?

                                <svg class="c-accordion__button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ctrl-down</title><g><path d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z"></path></g></svg>


                            .c-accordion__content.pad-right--xxl
                                p The "max number of APIs" refers to the number of APIs you design in Postman. It does NOT refer to how many APIs your company uses. You can also check our 
                                    a(href="#") blog post
                                    |  for a more detailed answer to this question.


                        .c-accordion__item.is-collapsed
                            button.c-accordion__button.d-flex
                                .c-accordion__button__heading.heading-05 Do you offer educational or non-profit discounts on your pricing?

                                <svg class="c-accordion__button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ctrl-down</title><g><path d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z"></path></g></svg>


                            .c-accordion__content.pad-right--xxl
                                <p>Yes. Postman is proud to offer multiple plans and prices to help organizations of all types, including free licenses through our <a href="/company/student-program/" aria-label="Learn more about the Postman Student Program.">Student Program</a> and <a href="/company/nonprofit/" aria-label="Learn more about Postman for Nonprofits.">Postman for Nonprofits</a> program.</p>
                           

                        .c-accordion__item.is-collapsed
                            button.c-accordion__button.d-flex
                                .c-accordion__button__heading.heading-05 What is the top tier of customer support offered by Postman?


                                <svg class="c-accordion__button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ctrl-down</title><g><path d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z"></path></g></svg>

                    
                        .c-accordion__item.is-collapsed
                            button.c-accordion__button.d-flex
                                .c-accordion__button__heading.heading-05 Will developers who are not working with a team (e.g., just using Postman for personal projects) need to start paying for Postman?

                                <svg class="c-accordion__button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ctrl-down</title><g><path d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z"></path></g></svg>


                            .c-accordion__content.pad-right--xxl
                                p The "max number of APIs" refers to the number of APIs you design in Postman. It does NOT refer to how many APIs your company uses. You can also check our 
                                    a(href="#") blog post
                                    |  for a more detailed answer to this question.


                        .c-accordion__item.is-collapsed
                            button.c-accordion__button.d-flex
                                .c-accordion__button__heading.heading-05 Can we submit a purchase order? Can you invoice me?


                                <svg class="c-accordion__button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ctrl-down</title><g><path d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z"></path></g></svg>


                        .c-accordion__item.is-collapsed
                            button.c-accordion__button.d-flex
                                .c-accordion__button__heading.heading-05 Can I increase licenses during my subscription?


                                <svg class="c-accordion__button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ctrl-down</title><g><path d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z"></path></g></svg>



                        .c-accordion__item.is-collapsed
                            button.c-accordion__button.d-flex
                                .c-accordion__button__heading.heading-05 Can I decrease licenses during my subscription?


                                <svg class="c-accordion__button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ctrl-down</title><g><path d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z"></path></g></svg>




    .c-section.has-bg
        .container
            .row
                .col-xl-8.pad-right--xl.spacing-below--xl
                    h2 500,000 Companies are using Postman Today

            
            .row
                .col-xl-12.c-logo_wall--alt.spacing-below--xl
                    .d-flex.justify-content-between
                        img(src="../i/logos/logo-shopify.png")

                        img(src="../i/logos/logo-cisco.png")

                        img(src="../i/logos/logo-imgur.png")

                        img(src="../i/logos/logo-amc.png")

                        img(src="../i/logos/logo-okta.png")

                        img(src="../i/logos/logo-intuit.png")

            .row.align-items-center
                .col-xl-8.pad-right--xl
                    p.intro Join these companies and more than 17 million developers who are already building, running, and distributing APIs with Postman.

                    a.button-primary(href="#") Buy now
            
                    


    include includes/footer.pug