include includes/header.pug

body
    include includes/nav.pug




    .c-hero.has-bg
        .container
            .row.spacing-below--xs 
                .col-xl-10.offset-md-1.text-center
                    h1 Plans and Pricing


            .row.border.rounded.spacing-below--xxl
                .col-xl-3.p-0.border-right
                    .pad-in--m
                        h3 Free

                        p.small.h-96 Perfect place to start designing, developing, and testing APIs.

                        p
                            span.d-flex.align-items-top.h-120
                                | $
                                span.heading-01 0

                        a.button-primary.w-100.spacing-below--m(href="#") Sign Up

                        p.text-small All the basics for up to 3 team members

                

                .col-xl-3.p-0.border-right
                    .pad-in--m
                        h3 Team

                        p.small.h-96 Collaborate across your team to design, develop, and test APIs faster.


                        p.h-120
                            span.d-flex.align-items-top 
                                | $
                                span.heading-01.spacing-below--xxs 12


                            small per user/month, billed annually

                            br

                            small $15 per user/month, billed monthly


                        a.button-primary.w-100.spacing-below--m(href="#") Buy Now

                        p.text-small.spacing-below--xxs Everything in Free, plus:

                        ul.list-unordered.list-unordered--checked.is-small.mb-0
                            li 10x Postman API usage limit

                            li 10 integrations



                .col-xl-3.p-0.border-right
                    .pad-in--m
                        h3 Business

                        p.small.h-96 Rapidly scale your organization and manage the entire API workflow, all in one place.

                        p.h-120
                            span.d-flex.align-items-top 
                                | $
                                span.heading-01.spacing-below--xxs 24


                            small per user/month, billed annually

                            br

                            small $30 per user/month, billed monthly


                        a.button-primary.w-100.spacing-below--m(href="#") Buy Now

                        p.text-small.spacing-below--xxs Everything in Team, plus:

                        ul.list-unordered.list-unordered--checked.is-small.mb-0
                            li 100x Postman API usage limit

                            li 50 integrations

                            li Basic roles and permissions

                            li Single Sign On (SAML)


                .col-xl-3.p-0
                    .pad-in--m
                        h3 Enterprise

                        p.small.h-96 Enterprise-grade offering, with powerful tools to securely manage, organize, and accelerate large-scale API development.

                        p.h-120
                            span.d-flex.align-items-top 
                                | $
                                span.heading-01.spacing-below--xxs 69


                            small per user/month, billed annually


                        a.button-primary.w-100.spacing-below--m(href="#") Contact Sales

                        p.text-small.spacing-below--xxs Everything in Business, plus:

                        ul.list-unordered.list-unordered--checked.is-small.mb-0
                            li 1,000x Postman API usage limit

                            li 100 integrations

                            li Reporting and Analytics

                            li User groups

                            li Automated Provisioning and Deprovisioning (SCIM)

                            li Domain Capture*





            .row.align-items-center.spacing-below--l
                .col-xl-2.offset-2
                    p.text-center 
                        span.heading-02 5x
                        br
                        span Faster API development

                .col-xl-2.offset-1
                    p.text-center 
                        span.heading-02 4x
                        br
                        span Faster bug fixes

                .col-xl-3.offset-1
                    p.text-center 
                        span.heading-02 10x
                        br
                        span More Effective API Collaboration


            .row.align-content-center
                .col-xl-10.offset-1.text-center
                    a.button-secondary.spacing-below--m(href="#") Download the Postman ROI Report

                    p.small Source: Enterprise Strategy Group (ESG) Report, “The Economic Benefits of the Postman Collaboration Platform for API Development”

    

    .c-section
        .container
            .row
                .col.spacing-below--xl
                    h2.spacing-below--xl.text-center Plan Comparison

                    table.table.0table-naked
                        thead
                            tr
                                th
                                th
                                    h3.m-0 Free

                                th
                                    h3.m-0 Team

                                th 
                                    h3.m-0 Business

                                th 
                                    h3.m-0 Enterprise

                        tbody
                            tr
                                td
                                    a.link--subtle.bold(href='/how-api-collaboration-works/' aria-label='Learn more about collaboration in Postman') Collaboration
                                td.text-small Unlimited shared requests for up to 3 team members

                                td.text-small Unlimited workspaces and shared requests
                                
                                td.text-small Unlimited workspaces and shared requests
                                
                                td.text-small Unlimited workspaces and shared requests


                            tr
                                td
                                    a.link--subtle.bold(href='https://learning.postman.com/docs/administration/sso/intro-sso/' aria-label='Learn more about Single sign-on (SAML SSO) in Postman') Single sign-on (SAML SSO)
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>check</title><g fill="#049d40"><path fill="#049d40" d="M14.3,2.3L5,11.6L1.7,8.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l4,4C4.5,13.9,4.7,14,5,14s0.5-0.1,0.7-0.3 l10-10c0.4-0.4,0.4-1,0-1.4S14.7,1.9,14.3,2.3z"></path></g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>check</title><g fill="#049d40"><path fill="#049d40" d="M14.3,2.3L5,11.6L1.7,8.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l4,4C4.5,13.9,4.7,14,5,14s0.5-0.1,0.7-0.3 l10-10c0.4-0.4,0.4-1,0-1.4S14.7,1.9,14.3,2.3z"></path></g></svg>
                            
                            
                            tr
                                td
                                    a.link--subtle.bold(href='https://learning.postman.com/docs/collaborating-in-postman/roles-and-permissions/' aria-label='Learn more about roles and permissions in Postman') Roles and permissions
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>check</title><g fill="#049d40"><path fill="#049d40" d="M14.3,2.3L5,11.6L1.7,8.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l4,4C4.5,13.9,4.7,14,5,14s0.5-0.1,0.7-0.3 l10-10c0.4-0.4,0.4-1,0-1.4S14.7,1.9,14.3,2.3z"></path></g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>check</title><g fill="#049d40"><path fill="#049d40" d="M14.3,2.3L5,11.6L1.7,8.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l4,4C4.5,13.9,4.7,14,5,14s0.5-0.1,0.7-0.3 l10-10c0.4-0.4,0.4-1,0-1.4S14.7,1.9,14.3,2.3z"></path></g></svg>

                            tr
                                td
                                    .d-flex.align-items-center
                                        a.link--subtle.bold(href='https://learning.postman.com/docs/administration/managing-your-team/user-groups/' aria-label="Learn more about Postman's Custom Domains") User groups
                                        a.pm-popover(tabindex='0' role='button' data-toggle='popover' data-trigger='focus' title='' data-content="<p class='alternative'>With Postman user groups, you can organize your team members into functional groups that mimic your organizational structure.</p>" style='color:inherit' data-original-title='More info')
                                        <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><circle cx="8" cy="8" r="7.5"></circle><circle cx="8.003" cy="12" r="1" stroke="none" fill="#6b6b6b"></circle><path d="M6.5,3.577c.953-.86,3.018-.845,3.423.635C10.453,6.134,8,6.142,8,9" stroke="#6b6b6b"></path></g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>check</title><g fill="#049d40"><path fill="#049d40" d="M14.3,2.3L5,11.6L1.7,8.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l4,4C4.5,13.9,4.7,14,5,14s0.5-0.1,0.7-0.3 l10-10c0.4-0.4,0.4-1,0-1.4S14.7,1.9,14.3,2.3z"></path></g></svg>
                            tr
                                td
                                    a.link--subtle.bold(href='https://learning.postman.com/docs/collaborating-in-postman/using-workspaces/creating-workspaces/' aria-label='Learn more about private workspaces in Postman') Private Workspaces
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td.text-small Unlimited
                                td.text-small Unlimited
                            tr
                                td
                                    .d-flex.align-items-center
                                        a.link--subtle.bold(href='https://learning.postman.com/docs/postman/design-and-develop-apis/the-api-workflow/' aria-label='Learn more about the API workflow in Postman') Max # of APIs
                                        a.pm-popover(tabindex='0' role='button' data-toggle='popover' data-trigger='focus' title='' data-content="<p class='alternative'>This limit refers to the number of APIs you can create via the API Builder in Postman. There is no maximum on the number of APIs you can call with the Postman client.</p>" style='color:inherit' data-original-title='More info')
                                        <svg class="ml-2"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><circle cx="8" cy="8" r="7.5"></circle><circle cx="8.003" cy="12" r="1" stroke="none" fill="#6b6b6b"></circle><path d="M6.5,3.577c.953-.86,3.018-.845,3.423.635C10.453,6.134,8,6.142,8,9" stroke="#6b6b6b"></path></g></svg>
                                td.text-small Unlimited
                                td.text-small Unlimited
                                td.text-small Unlimited
                                td.text-small Unlimited
                            tr
                                td
                                    a.link--subtle.bold(href='https://learning.postman.com/docs/integrations/intro-integrations/' aria-label='Learn more about integrations in Postman') Max # of integrations
                                td.text-small Limited
                                td.text-small 10
                                td.text-small 50
                                td.text-small 100
                            tr
                                td
                                    a.link--subtle.bold(href='https://www.postman.com/postman/workspace/postman-public-workspace/documentation/12959542-c8142d51-e97c-46b6-bd77-52bb66712c9a' aria-label='Learn more about the Postman API') Max # of calls to Postman API (monthly)
                                td.text-small 1,000
                                td.text-small 10,000
                                td.text-small 100,000
                                td.text-small 1,000,000
                            tr
                                td
                                    a.link--subtle.bold(href='https://learning.postman.com/docs/publishing-your-api/documenting-your-api/' aria-label='Learn more about Public API Documentation in Postman') Public API documentation (monthly page views)
                                td.text-small Unlimited
                                td.text-small Unlimited
                                td.text-small Unlimited
                                td.text-small Unlimited
                            tr
                                td
                                    a.link--subtle.bold(href='https://learning.postman.com/docs/postman/mock-servers/intro-to-mock-servers/' aria-label='Learn more about Mock Servers in Postman') Mock server calls (monthly)
                                td.text-small 1,000
                                td.text-small 10,000
                                td.text-small 10,000
                                td.text-small 10,000
                            tr
                                td
                                    a.link--subtle.bold(href='/api-monitoring/' aria-label='Learn more about API Monitors in Postman') Monitoring API calls (monthly)
                                td.text-small 1,000
                                td.text-small 10,000
                                td.text-small 10,000
                                td.text-small 10,000
                            tr
                                td
                                    a.link--subtle.bold(href='https://learning.postman.com/docs/sending-requests/intro-to-collections/#recovering-deleted-collections' aria-label='Learn more about recovering a collection in Postman') Recover deleted collections
                                td.text-small 1 day
                                td.text-small 30 days
                                td.text-small 90 days
                                td.text-small 90 days
                            tr
                                td
                                    .d-flex.align-items-center
                                        a.link--subtle.bold(href='https://learning.postman.com/docs/postman/api-documentation/custom-doc-domains/' aria-label="Learn more about Postman's Custom Domains") Custom domains
                                        a.pm-popover(tabindex='0' role='button' data-toggle='popover' data-trigger='focus' title='' data-content="<p class='alternative'>You can create custom domains for your API documentation. Each custom domain can be a full domain or a subdomain (e.g., <em>example.com</em> or <em>api.example.com</em>).</p>" style='color:inherit' data-original-title='More info')
                                        <svg class="ml-2"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><circle cx="8" cy="8" r="7.5"></circle><circle cx="8.003" cy="12" r="1" stroke="none" fill="#6b6b6b"></circle><path d="M6.5,3.577c.953-.86,3.018-.845,3.423.635C10.453,6.134,8,6.142,8,9" stroke="#6b6b6b"></path></g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td.text-small 1
                                td.text-small 5
                                td.text-small 25
                            tr
                                td
                                    .d-flex.align-items-center
                                        a.link--subtle.bold(href='https://learning.postman.com/docs/postman/monitors/using-static-IPs-to-monitor/' aria-label='Learn more about using static IPs in Postman') Static IP addresses
                                        a.pm-popover(tabindex='0' role='button' data-toggle='popover' data-trigger='focus' title='' data-content="<p class='alternative'>Monitor APIs from a static IP address. Ideal for users who want to test APIs behind a restricted firewall by whitelisting a static IP address.</p>" style='color:inherit' data-original-title='More info')
                                        <svg class="ml-2"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><circle cx="8" cy="8" r="7.5"></circle><circle cx="8.003" cy="12" r="1" stroke="none" fill="#6b6b6b"></circle><path d="M6.5,3.577c.953-.86,3.018-.845,3.423.635C10.453,6.134,8,6.142,8,9" stroke="#6b6b6b"></path></g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>check</title><g fill="#049d40"><path fill="#049d40" d="M14.3,2.3L5,11.6L1.7,8.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l4,4C4.5,13.9,4.7,14,5,14s0.5-0.1,0.7-0.3 l10-10c0.4-0.4,0.4-1,0-1.4S14.7,1.9,14.3,2.3z"></path></g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>check</title><g fill="#049d40"><path fill="#049d40" d="M14.3,2.3L5,11.6L1.7,8.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l4,4C4.5,13.9,4.7,14,5,14s0.5-0.1,0.7-0.3 l10-10c0.4-0.4,0.4-1,0-1.4S14.7,1.9,14.3,2.3z"></path></g></svg>
                            tr
                                td
                                    a.link--subtle.bold(href='https://learning.postman.com/docs/postman/collaboration/audit-logs/' aria-label='Learn more about audit logs in Postman') Audit logs
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>check</title><g fill="#049d40"><path fill="#049d40" d="M14.3,2.3L5,11.6L1.7,8.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l4,4C4.5,13.9,4.7,14,5,14s0.5-0.1,0.7-0.3 l10-10c0.4-0.4,0.4-1,0-1.4S14.7,1.9,14.3,2.3z"></path></g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>check</title><g fill="#049d40"><path fill="#049d40" d="M14.3,2.3L5,11.6L1.7,8.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l4,4C4.5,13.9,4.7,14,5,14s0.5-0.1,0.7-0.3 l10-10c0.4-0.4,0.4-1,0-1.4S14.7,1.9,14.3,2.3z"></path></g></svg>
                            tr
                                td
                                    .d-flex.align-items-center
                                        a.link--subtle.bold(href='/reporting/' aria-label='Learn more about reporting in Postman') Reporting
                                        a.pm-popover(tabindex='0' role='button' data-toggle='popover' data-trigger='focus' title='' data-content="<p class='alternative'>Postman Reporting gives you visibility at both the API and team levels, providing you with key insights into what's happening across operations. <a href='/reporting/' class='alternative' aria-label='Learn more about reporting in Postman'>Learn more.</a></p>" style='color:inherit' data-original-title='More info')
                                        <svg class="ml-2"  class="ml-2"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><circle cx="8" cy="8" r="7.5"></circle><circle cx="8.003" cy="12" r="1" stroke="none" fill="#6b6b6b"></circle><path d="M6.5,3.577c.953-.86,3.018-.845,3.423.635C10.453,6.134,8,6.142,8,9" stroke="#6b6b6b"></path></g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>check</title><g fill="#049d40"><path fill="#049d40" d="M14.3,2.3L5,11.6L1.7,8.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l4,4C4.5,13.9,4.7,14,5,14s0.5-0.1,0.7-0.3 l10-10c0.4-0.4,0.4-1,0-1.4S14.7,1.9,14.3,2.3z"></path></g></svg>
                            tr
                                td
                                    .d-flex.align-items-center
                                        a.link--subtle.bold(href='https://learning.postman.com/docs/administration/managing-your-team/configuring-scim/' aria-label='Learn more about configuring SCIM provisioning in Postman') User provisioning (SCIM)
                                        a.pm-popover(tabindex='0' role='button' data-toggle='popover' data-trigger='focus' title='' data-content="<p class='alternative'>Postman supports SCIM (System for Cross-domain Identity Management), allowing you to automate user provisioning and de-provisioning for your team.</p>" style='color:inherit' data-original-title='More info')
                                        <svg class="ml-2"  xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><circle cx="8" cy="8" r="7.5"></circle><circle cx="8.003" cy="12" r="1" stroke="none" fill="#6b6b6b"></circle><path d="M6.5,3.577c.953-.86,3.018-.845,3.423.635C10.453,6.134,8,6.142,8,9" stroke="#6b6b6b"></path></g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>check</title><g fill="#049d40"><path fill="#049d40" d="M14.3,2.3L5,11.6L1.7,8.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4l4,4C4.5,13.9,4.7,14,5,14s0.5-0.1,0.7-0.3 l10-10c0.4-0.4,0.4-1,0-1.4S14.7,1.9,14.3,2.3z"></path></g></svg>
                            tr
                                td.bold Domain capture (all existing and new free users migrated and managed under Postman Enterprise)
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td.text-small
                                        em *Coming soon
                            tr
                                td.bold Training and onboarding
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><title>e-remove</title><g stroke-width="1" fill="none" stroke="#6b6b6b" stroke-linecap="round" stroke-linejoin="round"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line> <line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line> </g></svg>
                                td.text-small Dedicated Enterprise Customer Success Manager
                            tr
                                td.bold Support options
                                td.text-small Email
                                td.text-small Email
                                td.text-small Email
                                td.text-small Priority email and phone (SLA: 1 business day)
                            tr
                                td.bold Payment options
                                td.text-small None
                                td.text-small Credit card only
                                td.text-small Credit card only
                                td.text-small Credit Card, ACH and Wire Transfer
                            tr
                                td
                                    a.link--subtle.bold(href='https://www.postman.com/legal/terms/') Terms
                                td.text-small Standard EULA
                                td.text-small Standard EULA
                                td.text-small Standard EULA
                                td.text-small Custom EULA
                            tr
                                td.border-0
                                
                                td.border-0
                                        a#free-sign-up-2.button-primary(data-test='free-sign-up-button-table' aria-label='Sign up for the Postman Free plan' href='https://identity.getpostman.com/signup?continue=https%3A%2F%2Fgo.postman.co%2Fbuild' target='_blank' title='Sign Up' rel='noopener') Sign Up
                                td.border-0
                                        a#teams-buy-now-2.button-primary(data-test='teams-buy-now-button-table' aria-label='Sign up for the Postman Team plan' href='https://web.postman.co/buy?plan=team&quantity=5' target='_blank' title='Buy Now' rel='noopener') Buy Now
                                td.border-0
                                        a#business-buy-now-2.button-primary(data-test='business-buy-now-button-table' aria-label='Sign up for the Postman Business plan' href='https://web.postman.co/buy?plan=business&quantity=5' target='_blank' title='Buy Now' rel='noopener') Buy Now
                                td.border-0
                                        a#enterprise-contact-sales-2.button-primary(data-test='enterprise-contact-sales-button-table' aria-label='Sign up for the Postman Enterprise plan' href='/pricing/get-started-postman-plans?utm_source=www&utm_medium=pricing&utm_campaign=two' title='Contact Sales') Contact Sales

            
                
            .row
                .col-xl-12.spacing-below--m
                    h2.text-center Add-ons


            .row
                .col-xl-4.offset-2
                        h3 Monitoring

                        .row
                            .col-6
                                p 
                                    strong Pay-as-you-go
                                    
                                    br

                                    span 1,000 calls

                            .col-6

                                    span.d-flex.align-items-top
                                        small $

                                        span.heading-03.m-0 0.75 

                                    small one time payment
                        
                        .row
                            .col-6
                                p 
                                    strong Pre-purchased
                                    
                                    br

                                    span 50,000 calls

                            .col-6
                                    span.d-flex.align-items-top
                                        small $

                                        span.heading-03.m-0 20

                                    small per block/month

                        a(href="#") Learn more
                        

                .col-xl-4.offset-1
                        h3 Mock Servers

                        .row
                            .col-6
                                p 
                                    strong Pay-as-you-go
                                    
                                    br

                                    span 1,000 calls


                            .col-6
                                    span.d-flex.align-items-top
                                        small $

                                        span.heading-03.m-0 0.75 

                                    small one time payment

                        .row
                            .col-6
                                p 
                                    strong Pre-purchased
                                    
                                    br

                                    span 50,000 calls

                            .col-6
                                    span.d-flex.align-items-top
                                        small $

                                        span.heading-03.m-0 20

                                    small per block/month

                        a(href="#") Learn more


    .container
        hr.m-0



    .c-section
        .container
            .row
                .col-xl-8.offset-2
                    h2.spacing-below--l.text-center Frequently Asked Questions

                    .c-accordion__wrap
                        .c-accordion__item.is-collapsed
                            button.c-accordion__button.d-flex
                                .c-accordion__button__heading.heading-05 What does “Max # of APIs” mean?

                                <svg class="c-accordion__button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ctrl-down</title><g><path d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z"></path></g></svg>


                            .c-accordion__content.pad-right--xxl
                                p The "max number of APIs" refers to the number of APIs you design in Postman. It does NOT refer to how many APIs your company uses. You can also check our 
                                    a(href="#") blog post
                                    |  for a more detailed answer to this question.


                        .c-accordion__item.is-collapsed
                            button.c-accordion__button.d-flex
                                .c-accordion__button__heading.heading-05 Do you offer educational or non-profit discounts on your pricing?

                                <svg class="c-accordion__button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ctrl-down</title><g><path d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z"></path></g></svg>


                            .c-accordion__content.pad-right--xxl
                                <p>Yes. Postman is proud to offer multiple plans and prices to help organizations of all types, including free licenses through our <a href="/company/student-program/" aria-label="Learn more about the Postman Student Program.">Student Program</a> and <a href="/company/nonprofit/" aria-label="Learn more about Postman for Nonprofits.">Postman for Nonprofits</a> program.</p>
                           

                        .c-accordion__item.is-collapsed
                            button.c-accordion__button.d-flex
                                .c-accordion__button__heading.heading-05 What is the top tier of customer support offered by Postman?


                                <svg class="c-accordion__button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ctrl-down</title><g><path d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z"></path></g></svg>

                    
                        .c-accordion__item.is-collapsed
                            button.c-accordion__button.d-flex
                                .c-accordion__button__heading.heading-05 Will developers who are not working with a team (e.g., just using Postman for personal projects) need to start paying for Postman?

                                <svg class="c-accordion__button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ctrl-down</title><g><path d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z"></path></g></svg>


                            .c-accordion__content.pad-right--xxl
                                p The "max number of APIs" refers to the number of APIs you design in Postman. It does NOT refer to how many APIs your company uses. You can also check our 
                                    a(href="#") blog post
                                    |  for a more detailed answer to this question.


                        .c-accordion__item.is-collapsed
                            button.c-accordion__button.d-flex
                                .c-accordion__button__heading.heading-05 Can we submit a purchase order? Can you invoice me?


                                <svg class="c-accordion__button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ctrl-down</title><g><path d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z"></path></g></svg>


                        .c-accordion__item.is-collapsed
                            button.c-accordion__button.d-flex
                                .c-accordion__button__heading.heading-05 Can I increase licenses during my subscription?


                                <svg class="c-accordion__button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ctrl-down</title><g><path d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z"></path></g></svg>



                        .c-accordion__item.is-collapsed
                            button.c-accordion__button.d-flex
                                .c-accordion__button__heading.heading-05 Can I decrease licenses during my subscription?


                                <svg class="c-accordion__button__icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><title>ctrl-down</title><g><path d="M12,17c-0.207,0-0.413-0.063-0.588-0.191l-11-8l1.177-1.617L12,14.764l10.412-7.572l1.177,1.617l-11,8 C12.413,16.937,12.207,17,12,17z"></path></g></svg>




    .c-section.has-bg
        .container
            .row
                .col-xl-8.offset-2.pad-right--xl.spacing-below--xl
                    h2.text-center 500,000 Companies are using Postman Today

            
            .row
                .col-xl-12.c-logo_wall--alt.spacing-below--xl
                    .d-flex.justify-content-between
                        img(src="../i/logos/logo-shopify.png")

                        img(src="../i/logos/logo-cisco.png")

                        img(src="../i/logos/logo-imgur.png")

                        img(src="../i/logos/logo-amc.png")

                        img(src="../i/logos/logo-okta.png")

                        img(src="../i/logos/logo-intuit.png")

            .row.align-items-center
                .col-xl-8.offset-2.pad-right--xl.text-center
                    p.intro Join these companies and more than 17 million developers who are already building, running, and distributing APIs with Postman.

                    a.button-primary(href="#") Buy now
            
                    


    include includes/footer.pug