include includes/header.pug

body
    include includes/nav.pug

    
    .c-hero.has-bg.spacing-below--xxl
        .container
            .row
                .col-xl-8
                    h1 Section

    .container.spacing-below--xxl
        .row
            .col-xl-8.spacing-below--s
                h2 Left Aligned Section

                p.intro Section subtitle goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur cras netus dapibus ac placerat cras in ac id. Nunc habitant cras eget velit etiam viverra lectus. Amet etiam pretium
        
        .row
            .col-xl-12
                img.w-100(src="../../i/screenshots/content-placeholder.png")


    .container.spacing-below--xxl
        hr.m-0


    .container.spacing-below--xxl
        .row
            .col-xl-8.offset-2.spacing-below--s.text-center
                h2 Center Aligned below another Section

                p.intro Section subtitle goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur cras netus dapibus ac placerat cras in ac id. Nunc habitant cras eget velit etiam viverra lectus. Amet etiam pretium
        
        .row
            .col-xl-12
                img.w-100(src="../../i/screenshots/content-placeholder.png")



    .c-section.has-bg
        .container
            .row
                .col-xl-8.offset-2.spacing-below--s.text-center
                    h2 Last Section on the Page with Background

                    p.intro Section subtitle goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur cras netus dapibus ac placerat cras in ac id. Nunc habitant cras eget velit etiam viverra lectus. Amet etiam pretium
            
            .row
                .col-xl-12
                    img.w-100(src="../../i/screenshots/content-placeholder.png")




    include includes/footer.pug


    .c-section.has-bg#cta-section
        .container
            .row
                .col-xl-6.offset-3.text-center
                    h2 Get Started Today

                    p.intro Join the millions of developers who are already developing their APIs faster and better with Postman.
            
                    a.button-primary(href="#") Sign Up




    include includes/footer.pug





    .container.spacing-below--xxl
        .row
            .col-xl-8.offset-2.spacing-below--s.text-center
                h2 Last Section on the Page without Background

                p.intro Section subtitle goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur cras netus dapibus ac placerat cras in ac id. Nunc habitant cras eget velit etiam viverra lectus. Amet etiam pretium
        
        .row
            .col-xl-12
                img.w-100(src="../../i/screenshots/content-placeholder.png")

    hr


    include includes/footer.pug