//////////////////
// #BASE /////////
//////////////////

html {
  background-color: $background-color-primary;

  font-family: var(--text-family);
  font-size: 62.5%;

  /* Make type rendering look crisper */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Disable auto-enlargement of small text in Safari */
  text-size-adjust: 100%;

  /* Enable kerning and optional ligatures */
  text-rendering: optimizeLegibility;

  font-feature-settings:"ss01", "onum", "zero";
}

body {
  font-family: var(--text-family);
  font-size: 16px;
  line-height: 1.6;
  position: relative;
  color: var(--grey-90);
}

main {
  margin: 36px 240px;
  width: 640px;
}

.logo {
    margin-bottom: $spacing-m;
}

//make parent (div, p, span, etc.) display flex, block, inline 
//put some text on top and bottom 3 lines


.pg-lc_details {

  .c-header {
    border-bottom: 1px solid var(--grey-20);
  }
  padding-top: 52px;
}


.c-doc {
  padding-bottom: var(--spacing-xxl);

  h2, h3 {
    &:hover .anchor.before {
      opacity: 1;
    }
  }

  img {
    border-radius: 8px;
    border: 8px solid var(--grey-20);
    box-shadow: 8px 8px 0 rgba(black, .32);
    margin-bottom: var(--spacing-m);
    width: 100%;
  }

  .anchor.before {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-160%);
    opacity: 0;
    transition: .2s ease-in-out;

    &:hover {
      border: none;

      svg {
        color: var(--blue-60);
      }
    }
  }
}


.has-frame {
    border-radius: 8px;
    border: 8px solid var(--grey-20);
    box-shadow: 8px 8px 0 rgba(black, .32);
}