//////////////////
// #BADGE ///////
//////////////////

// LOCAL VARIABLES  *** ONLY MOVE TO TOKEN SCSS FILES IF REUSABLE ***


// 
.c-badge {
  border: 1px solid var(--grey-20);
  border-radius: 4px;
  color: var(--content-color-secondary);
  display: inline-block;
  font-size: 14px;
  height: 24px;
  line-height: 21px;
  margin-right: var(--spacing-xxs);
  padding: 0 var(--spacing-xxs);
  text-transform: uppercase;
}


.c-badge--1 {
  border-color: var(--background-color-success);
  color: var(--content-color-success);
}

.c-badge--2 {
  border-color: var(--background-color-info);
  color: var(--content-color-info);
}

.c-badge--3 {
  border-color: var(--background-color-warning);
  color: var(--content-color-warning);
}

.c-badge--4 {
  border-color: var(--background-color-error);
  color: var(--content-color-error);
}

.c-badge--5 {
  background-color: var(--background-color-new);
  color: var(--content-color-new);
}

.c-badge--count {
  border-radius: var(--border-radius-default);
  background-color: var(--base-color-brand);
  color: var(--content-color-constant);
  padding-left: var(--spacing-xs);
  padding-right: var(--spacing-xs);
}

.tabs-link {
  position: relative;

  .c-badge--count {
    transform: translateX(2px) translateY(0);
  }
}


.c-tag {
  text-transform: uppercase;
  font-size: 14px;
}