//////////////////
// #COMMENTS /////////
//////////////////


.comment {
    .avatar {
        border-radius: 999px;
        position: absolute;
        left: 0;
        top: 8px;
        box-shadow: 0 0 0 2px white, 0 0 0 4px rgba(black, .16);
    }

    cite {
        font-size: 14px;
        line-height: 1;
    }

    .children {
        
        .avatar {
            left: 48px;
            
        }

        .comment-author,
        .comment-meta,
        .comment-text {
            //border-left: 2px solid var(--grey-20); 
            padding-left: var(--spacing-xxl);
        }
    }

    hr {
        margin: var(--spacing-m) 0;
    }
}


.comment-author,
.comment-meta {
    padding-left: var(--spacing-l);
}


.comment-meta {
    color: var(--grey-70);
    font-size: 14px;
    line-height: 1;
    padding-bottom: var(--spacing-xs);
}

.wp_ulike_general_class {
    border: 1px solid var(--grey-30);
    border-radius: 4px;
    display: inline-flex;
    padding: 4px 8px 4px 4px;
}


.wp_ulike_btn {
    position: relative;
    margin: 0;
    vertical-align: baseline;
}
.wpulike-heart .wp_ulike_put_image:after {
    color: var(--grey-50);
    content: '❤';
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.count-box {
    color: var(--grey-70);
}

