//////////////////
// #TABLE /////////
//////////////////


// LOCAL VARIABLES  *** ONLY MOVE TO TOKEN SCSS FILES IF REUSABLE ***





// DEFAULT TABLE
.table {

    tbody tr:hover {
        background-color: var(--orange-10) !important;
    }

    th {
        color: var(--grey-70);
        font-size: 14px;
    }

    th, td {
        border-bottom: 1px solid var(--grey-20);
        padding: var(--spacing-xs);
    }
}

.table-striped {
    tbody tr:nth-of-type(odd) {
        background-color: var(--grey-10);
    }

    th, td {
        border: none;
    }
}