//////////////////
// #PAGINATION /////////
//////////////////

.c-pagination {
  display: flex;
  justify-content: center;
  margin: 48px;
}

.c-pagination__item {
  border-radius: 4px;
  color: var(--grey-70);
  padding: 8px 16px;

  &.is-selected {
    color: var(--grey-90);
  }
}

a.c-pagination__item:hover {
    background-color: var(--grey-10);
    border: none;
}