//////////////
// #TOOLTIP //
//////////////


// LOCAL TOKENS  *** ONLY MOVE TO TOKEN SCSS FILES IF REUSABLE ***600
$tooltip-background-color: $grey-90;
$tooltip-border-radius: $border-radius-s;
$tooltip-arrow-color: $grey-90;
$tooltip-font-size: $text-size-xs;


.tippy-box {
    background-color: $tooltip-background-color;
    border-radius: $tooltip-border-radius;
    max-width: 160px;
}

.tippy-content {
    font-size: var(--text-size-s);
    padding: $spacing-xxs $spacing-xs;
}

.tippy-box[data-placement^='top'] > .tippy-arrow::before {
    border-top-color: $tooltip-arrow-color;
    border-radius: 2px;
  }
  
  .tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
    border-bottom-color: $tooltip-arrow-color;
    border-radius: 2px;
  }

  .tippy-box[data-placement^='left'] > .tippy-arrow::before {
    border-left-color: $tooltip-arrow-color;
    border-radius: 2px;
  }

  .tippy-box[data-placement^='right'] > .tippy-arrow::before {
    border-right-color: $tooltip-arrow-color;
    border-radius: 2px;
  }