//////////////////
// #TABLE /////////
//////////////////


// LOCAL VARIABLES  *** ONLY MOVE TO TOKEN SCSS FILES IF REUSABLE ***





// DEFAULT TABLE
.table {

    tbody tr:hover {
        background-color: var(--orange-10) !important;

        a {
            color: var(--blue-60);
        }
    }

    thead th {
        color: var(--grey-70);
        font-size: 14px;
    }

    thead th, tbody td {
        border-top: none;
        border-bottom: 1px solid var(--grey-20);
        padding: var(--spacing-xs);
    }
}

.table-striped {
    tbody tr:nth-of-type(odd) {
        background-color: var(--grey-10);
    }

    thead th, tbody td {
        border: none;
    }
}


.table-naked {

    thead th, tbody td {
        border: none;
    }
}