//////////////////
// #BREADCRUMB ///////
//////////////////

// LOCAL VARIABLES  *** ONLY MOVE TO TOKEN SCSS FILES IF REUSABLE ***


// 
.c-breadcrumb {
  margin: var(--spacing-m) 0;

  &:hover {
    .c-breadcrumb__link {
      color: var(--color-interactive);
    }
  }
}

.c-breadcrumb__link {
  color: var(--content-color-secondary);

  &:hover {
    border-bottom: 1px solid;
  }
}

.c-breadcrumb__item {
  color: var(--content-color-secondary);

  &.is-highlighted {
    color: var(--content-color-primary);
  }
}


.c-breadcrumb__sep {
  color: var(--content-color-tertiary);
  font-weight: normal;
  padding: 0 var(--spacing-xs);
}


.tab-header {
  border-top: 1px solid var(--border-color-default);
  border-bottom: 1px solid var(--border-color-default);
  margin: 0 -32px;
  padding-left: 16px;
}