//////////////////
// #FOOTER /////////
//////////////////


.c-footer {
    ul {
        margin-bottom: var(--spacing-s);
    }

    ul li a {
        align-items: center;
        display: inline-flex;
        
        padding: 4px 0;

        svg {
            margin-right: var(--spacing-xxs);
        }
    }

    a {
        font-size: 14px;
        color: var(--grey-70);

        &:hover {
            border: none;
            color: var(--blue-70);
        }
    }
}

.c-sep {
    color: var(--grey-50);
    display: inline-block;
    margin: 0 var(--spacing-xxs);
}


.logo--footer {
    width: 32px;
    filter: grayscale(100%);
    opacity: .64;
}