//////////////////
// #BOX //////////
//////////////////



.c-card {
    background-color: white;
    border-radius: $border-radius-m;
    box-shadow: 0 0 1px var(--grey-30);
    display: block;
    overflow: hidden;
    position: relative;
    transition: .2s ease-in-out;

    figure {
        background-color: var(--grey-10);
    }

    img {
        max-height: 240px;
    }

    .heading-04 {
        color: var(--grey-90);
        padding-right: var(--spacing-s);
    }

    &:hover {
        border: none;
        box-shadow: 0 0 1px var(--grey-50), 0 8px 16px -4px rgba(black, .08);
        transform: translateY(-4px);
    }
}


    .c-card__content {
        padding: var(--spacing-s);
    }


    .c-card__date {
        background-color: var(--grey-00);
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(black, .16);
        color: var(--orange-50);
        font-size: 12px;
        line-height: 1.2;
        position: absolute;
        text-align: center;
        top: 8px;
        right: 8px;
        text-transform: uppercase;
        padding: var(--spacing-xxs);

        strong {
            font-size: 24px;
            display: block;
        }
    }

    .c-card--01 {
        padding-top: 180px;

        &:before {
            background-image: url("https://www.postman.com/assets/events/space-camp/posters/postman-space-camp-session-3.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center 0;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 180px;
            width: 100%;
            transition: .2s ease-in-out;
        }

        &:hover {
            &:before {
                background-size: 105%; 
            }
        }
    }


    .c-card--02 {
        padding-top: 170px;

        &:before {
            background-image: url("../i/card-01.png");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center 0;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 170px;
            width: 100%;
            transition: .2s ease-in-out;
        }

        &:hover {
            &:before {
                background-size: 105%; 
            }
        }
    }