//////////////////
// #TABS /////////
//////////////////


// LOCAL VARIABLES  *** ONLY MOVE TO TOKEN SCSS FILES IF REUSABLE ***
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* Remove default arrow */
  line-height: 27px;
  padding-right: var(--spacing-xl);
}


.input-control--select {
  position: relative;

  > svg {
    fill: var(--grey-70);
    margin-top: -6px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 16px;
  }
}