//////////////////
// #HERO ///////
//////////////////

// LOCAL VARIABLES  *** ONLY MOVE TO TOKEN SCSS FILES IF REUSABLE ***


// 
.c-hero {
  align-items: center;
  display: flex;
  padding: var(--spacing-xxl) 0;

  .container {
    height: 100%;
  }
}


.c-hero--dark {
  background-color: var(--grey-90);

  h1, 
  .intro {
    color: var(--grey-00);
  }

}


.h-25 {
  height: 25vh !important;
  min-height: 360px;
}

.c-hero--page-1 {
  background: url("https://www.postman.com/assets/lp-api-platform/comp-api-diagram-UW-dual-fade.svg") no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: 3600px;
  height: 80vh;
}

.c-section {
  background-color: var(--grey-10);
  padding: 128px 0;
}



.c-hero--downloads {

  .app-screenshot {
    background: url("../i/screenshots/postman-app.png") no-repeat;
    background-size: 100% 100%;
    height: 756px;
    width: 1280px;
  }
}