//////////////////
// #BANNER ///////
//////////////////

// LOCAL VARIABLES  *** ONLY MOVE TO TOKEN SCSS FILES IF REUSABLE ***


// 
.c-banner {
  align-items: center;
  justify-content: space-around;
  background-color: var(--blue-10);
  display: flex;
  padding: var(--spacing-xxs) var(--spacing-xs);
}

  .c-banner__body {
    font-size: 14px;
    margin-bottom: 0;
    flex-grow: 1;
    padding: 0 var(--spacing-s);
    text-align: center;
  }

  .c-banner__close {
    position: absolute;
    right: var(--spacing-xs);
  }


.banner--success {
  background-color: var(--background-color-success);

  .banner__figure {
    svg {
      fill: var(--content-color-success);
    }
  }
}

.banner--warning {
  background-color: var(--background-color-warning);

  .banner__figure {
    svg {
      fill: var(--content-color-warning);
    }
  }
}

.banner--error {
  background-color: var(--background-color-error);

  .banner__figure {
    svg {
      fill: var(--content-color-error);
    }
  }
}

.banner--info {
  background-color: var(--background-color-info);

  .banner__figure {
    svg {
      fill: var(--content-color-info);
    }
  }
}


.banner__figure {
  align-items: center;
  display: flex;
  margin-right: var(--spacing-s);
}


.banner__content {
  margin-right: var(--spacing-m);
  
  p {
    color: var(--content-color-primary);
  }
}
