//////////////////
// #NAV //////////
//////////////////



nav {
    margin-top: 8px;
    
    ul {
        margin-bottom: 0;
        margin-left: var(--spacing-xs);

        a {
            align-items: center;
            color: var(--grey-70);
            display: inline-flex;
            font-size: 14px;
            font-weight: 600;
            padding: var(--spacing-xs);

            &:hover {
                border-bottom: none;
                color: $text-color-stronger;
            }
        }
    }
}

.logo {
    align-items: center;
    display: flex;
    width: 32px;
    margin-bottom: 0;
}



.side-nav__wrap {

}

.side-nav {
    margin-left: -12px;
    margin-bottom: 16px;

    a {
        border-radius: 4px;
        color: var(--grey-90);
        display: block;
        font-size: 14px;
        line-height: 22px;
        padding: 6px 12px;

        &:hover {
            background-color: var(--grey-10);
            border: none;
        }
    }

    .is-selected a {
        background-color: var(--orange-10);
    }
}
