//////////////////
// #NAV //////////
//////////////////

.c-header {
    //background-color: rgba(white, .84);
    backdrop-filter: blur(32px);
    padding: 8px 16px;
}

.c-header--dark {
    background-color:transparent;
    backdrop-filter: blur(0);

    nav > ul > li > a {
        color: var(--grey-20);

        svg path {
            fill: var(--grey-40);
        }
    }

    .nav-search__wrap input[type="text"] {
        background-color: transparent;
        border-color: transparent;
        box-shadow: 0 0 0 1px rgba(white, .32) inset;
    }

    .nav-search__icon path {
        fill: var(--grey-50);
    }

    .button-secondary {
        box-shadow: 0 0 0 1px rgba(white, .32) inset;
        color: var(--grey-20);
    }
}


.logo {
    align-items: center;
    display: flex;
    margin-bottom: 0;

    img {
        width: 32px;
    }

    // Learning center title
    span {
        color: var(--grey-70);
        font-size: 13px;
        margin-left: var(--spacing-xxs);
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &:hover {
        border: none;
    }
}




nav {
    
    ul {
        margin-bottom: 0;
        margin-left: var(--spacing-xs);

        li {
            position: relative;

            &:hover {

                a + .c-popover {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0px);
                }

            }
        }

        a {
            align-items: center;
            color: var(--grey-70);
            display: inline-flex;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            padding: var(--spacing-xxs) var(--spacing-xs);
            position: relative;

            svg {
                margin-left: 6px;
                width: 10px;
                transition: .1s ease-in-out;

                path {
                    fill: var(--grey-70);
                }
            }

            &:hover {
                border-bottom: none;
                color: $text-color-stronger;
            }
        }

        small {
            display: block;
            font-size: 12px;
        }
    }

    .c-popover {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 0;
        padding: var(--spacing-xs);
        z-index: 9;
        transition: .3s ease-in-out;
        transform: translateY(-10px);

        h6 {
            padding: var(--spacing-xxs) var(--spacing-xs);
            margin-bottom: 0;
        }
    }

    .c-popover--menu {
        display: flex;
    }

    

    .c-menu {
        margin: 0;
        

        a {
            border-radius: 4px;
            color: var(--grey-90);
            display: block;
            font-weight: 400;
            padding: var(--spacing-xxs) var(--spacing-xs);
            white-space: nowrap;

            &:hover {
                background-color: var(--grey-10);
            }
        }
    }
}


.c-header {
    nav ul li:hover svg {
        transform: rotate(180deg);
    }
}


.c-menu__group {
    padding-bottom: var(--spacing-xs);
    + .c-menu__group {
        padding-left: var(--spacing-xs);
        padding-right: var(--spacing-xs);
    }
}


.nav-search__wrap {
    position: relative;

    input[type="text"] {
        background-color: transparent;
        border-color: rgba(black, .24);
        font-size: 13px;
        padding: 4px 24px 4px 28px;
        height: 32px;
        margin: 0;
        width: 320px;

        &::placeholder {
            color: var(--grey-50);
        }
    }
}


    .nav-search__icon {
        position: absolute;
        margin-left: 8px;
        top: 8px;

        path {
            fill: var(--grey-50);
        }
    }



.nav-search--centered {
    max-width: 360px;

    input[type="text"] {
        text-align: center;

        &::placeholder {
            color: var(--grey-50);
        }
    }

    .nav-search__icon {
        top: 8px;
        left: 50%;
        margin-left: -74px;
    }
}






.side-nav__wrap {

}

.side-nav {
    margin-left: -12px;
    margin-bottom: 16px;

    a {
        border-radius: 4px;
        color: var(--grey-90);
        display: block;
        font-size: 14px;
        line-height: 22px;
        padding: 6px 12px;

        &:hover {
            background-color: var(--grey-10);
            border: none;
        }
    }

    .is-selected a {
        background-color: var(--orange-10);
    }
}





// LOGO FLIP
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 32px;
	height: 32px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}




// MOBILE NAV

.c-header--mobile {
    padding-top: 16px;
    padding-bottom: 16px;

    .logo img {
        height: 48px;
        width: 48px;
    }
}

.c-menu_button {
    svg {
        stroke: var(--grey-70);
    }
}

.nav-mobile {
    //background-color: white;
    backdrop-filter: blur(48px);
    -webkit-backdrop-filter: blur(32px);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 80px;
    overflow: auto;
    z-index: 9;

    .row {
        margin-left: -24px;
        margin-right: -24px;

        .col {
            padding-left: 24px;    
            padding-right: 24px;
        }
    }

    ul {
        margin: 0;

        a {
            //border-top: 1px solid rgba(black, .08);
            justify-content: space-between;
            display: flex;
            font-size: 16px;
            line-height: 32px;
            padding-left: 0;
            padding-right: var(--spacing-xxs);

            svg {
                height: 16px;
                width: 16px;
                transition: transform .2s ease-in-out;

                path {
                    fill: var(--grey-50);
                }
            }
        }
    }

    .c-menu {
        padding-left: var(--spacing-s);
    }

    .c-menu__group {
        margin-top: var(--spacing-s);
        padding-top: 0;
        padding-bottom: 0;
        padding-left: var(--spacing-s);

        h6 {
            color: var(--grey-50);
        }

        .c-menu {
            padding-left: 0;
        }
    }

    .is-collapsed {
        .c-menu,
        .c-menu__group {
            display: none;
        }
    }

    .is-expanded {
        > a {
            //border-bottom: 1px solid rgba(black, .08);

            svg {
                transform: rotate(180deg);
            }
        }

        .c-menu li:first-child a {
            border-top: none;
        }
    }

    .c-popover {
        opacity: 1;
        visibility: visible;
    }

    .position-sticky {
        bottom: 0;
        background-color: var(--grey-10);
        backdrop-filter: blur(32px);
    }
}





.c-sandbox__nav {
    position: fixed;
    bottom: 16px;
    right: 16px;

    ul {
        //display: none !important;
    }
}