/////////////////////////
// #TYPOGRAPHY #TOKENS //
/////////////////////////





// FONT SIZES
//$text-size-s: 14px; // Currently 12px

$text-size-xxxs: 11px; // TO BE DEPRECATED
$line-height-xxs: 18px;

$text-size-xxs: 12px;
$line-height-xxs: 18px;

$text-size-xs: 13px;
$line-height-xs: 20px;

$text-size-s: 14px;
$line-height-s: 22px;

$text-size-m: 16px;
$line-height-m: 26px;


$text-size-l: 20px;
$line-height-l: 28px;

$text-size-xl: 24px;
$line-height-xl: 30px;


// LINE HEIGHT
$line-height-reset: 1;


// FONT WEIGHT
$text-weight-normal: 400;
$text-weight-medium: 600;
$text-weight-bold: 700;





// ALIAS TOKENS //
//////////////////






// COMPONENT-SPECIFIC TOKENS //
///////////////////////////////
 


  