//////////////////////
// #SIZING #TOKENS //
//////////////////////



// GLOBAL TOKENS
$size-xs: 16px;
$size-s: 24px;
$size-m: 32px;


// ALIAS SPECIFIC
$controls-size-default: $size-m;
$controls-size-small: $size-s;