//////////////////
// #TYPOGRAPHY ///
//////////////////
@font-face{ 
	font-family: 'Degular-Display-Semibold';
	src: url('../fonts/Degular_Display-Semibold.woff') format('woff'),
         url('../fonts/Degular_Display-Semibold.woff2') format('woff2');
}


h1, h2, h3,
.heading-01, .heading-02, .heading-03 {
    font-family: var(--text-family-display);
    font-weight: 600;
    font-feature-settings: 'kern' 1, 'ss01' 1, 'salt' 1;

    .c-on_dark & {
        color: var(--grey-10);
    }

    a {
        color: var(--grey-90);

        &:hover {
            border: none;
            color: var(--blue-70);
        }
    }
}


h1,
.heading-01 {
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.64px;
    margin-bottom: 24px;

    @media (max-width: 575.98px) { 
        font-size: 36px;
        //letter-spacing: -0.84px;
        line-height: 36px;
        margin-bottom: 16px;
    }
}

h2,
.heading-02 {
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.48px;
    margin-bottom: 16px;

    @media (max-width: 575.98px) { 
        font-size: 28px;
        //letter-spacing: -0.72px;
        line-height: 32px;
    }
}

h3,
.heading-03 {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.64px;
    margin-bottom: 16px;

    @media (max-width: 575.98px) { 
        font-size: 24px;
        //letter-spacing: -0.64px;
        line-height: 36px;
    }
}




h4,
.heading-04 {
    font-family: var(--text-family);
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: -0.32px;
    margin-bottom: 8px;

    @media (max-width: 575.98px) { 
        margin-bottom: 16px;
    }
}


h5,
.heading-05 {
    font-family: var(--text-family);
    font-size: 16px;
    letter-spacing: -0.24px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 8px;
}

h6,
.heading-06 {
    font-family: var(--text-family);
    color: #5B5B5B;
    font-size: 16px;
    letter-spacing: -0.24px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 8px;
}


p {
    font-size: 16px;
    color: var(--content-color-primary);
    letter-spacing: -0.16px;
    line-height: 26px;
    margin-bottom: 24px;

    .c-on_dark & {
        color: var(--grey-30);
    }
}

li {
    font-size: 16px;
    line-height: 26px;
    color: var(--content-color-primary);

    .is-small & {
        font-size: 14px;
        line-height: 22px;
    }
}

strong,
.bold {
    font-weight: 600;
}

.c-doc ul,
.c-doc ol,
.list-unordered,
.list-ordered {
    margin-left: 32px;
    margin-bottom: 24px;

    ul, ol {
        margin: 8px 0 24px 32px;
    }

    li {
        margin-bottom: 8px;
        position: relative;

        p {
            margin-bottom: var(--spacing-xxs);
        }

        &:before,
        &:after {   
            display: inline-block;
            float: left;
            text-align: right;
        }

        &:before {
            direction: rtl;
            margin-left: -28px;
            padding-right: 16px;
            width: 28px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}


.c-doc ul li:before, 
.list-unordered li:before {
    color: var(--orange-30); //var(--grey-50);
    content: "✦";
}


.list-unordered--checked li:before {
    color: var(--green-60); //var(--grey-50);
    content: "✓";
    font-weight: 600;
    font-size: 16px;
}


.c-doc ol li, 
.list-ordered li {
    counter-increment: li;

    &:before {
        color: var(--grey-70);
        content: counter(li);
        text-align: right;
    }

    &:after {
        color: var(--grey-70);
        content: ".";
        left: -16px;
        position: absolute;
        top: 0;
    }
}


code {
    background-color: var(--grey-10);
    box-shadow: inset 0 0 0 1px var(--border-color-strong);
    border-radius: var(--border-radius-default);
    color: var(--grey-90);
    font-family: var(--text-family-code);
    font-size: 15px;
    padding: 1px 4px 2px;
}


pre {
    background-color: var(--grey-20);
    border-radius: var(--border-radius-default);
    color: var(--grey-90);
    font-family: var(--text-family-code);
    font-size: 16px;
    line-height: 26px;
    padding: 16px 24px;

    code {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        color: var(--grey-90);
        font-size: 15px;
        padding: 0;
    }
    
}

a {
    color: var(--blue-60);
    transition: color .2s ease-in-out;
    text-decoration: none;

    &:focus {
        outline-color: var(--blue-30);
        outline-offset: 2px;
    }

    &:hover {
        color: var(--blue-70);
        border-bottom: 1px solid;
        text-decoration: none;

        .link-arrow {
            display: inline-block;
            transition: .3s ease;
            margin-left: 5px;
        }
    }

    .c-on_dark & {
        color: var(--blue-30);
    }
}



small,
.small {
    color: var(--grey-70);
    font-size: 14px;
    line-height: 22px;
}

.text-small {
    font-size: 14px !important;
    line-height: 22px !important;
}

.footnote {
    color: var(--grey-70);
    font-size: 13px;
    line-height: 18px;
    margin-bottom: var(--spacing-xs);
}

figure img {
    width: 100%;
}

figcaption,
.caption {
    color: var(--grey-70);
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    margin-bottom: 24px;
}



.intro {
    font-size: 22px;
    letter-spacing: -0.36px;
    line-height: 32px;
    margin-bottom: 32px;

    @media (max-width: 575.98px) { 
        font-size: 18px;
        line-height: 30px;
    }
}


.eyebrow {
    color: var(--orange-40);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.24px;
    line-height: 24px;
    margin-bottom: var(--spacing-xs);
    text-transform: uppercase;

    @media (max-width: 575.98px) { 
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.32px;
    }
}

.c-kbd-key {
    background-color: var(--background-color-tertiary);
    border-radius: var(--border-radius-default);
    box-shadow: 0 0 1px rgba(black, .8) inset;
    display: inline-flex;
    font-family: var(--text-family);
    font-size: var(--text-size-m);
    font-weight: var(--text-weight-medium);
    margin: 0 var(--spacing-xs);
    padding: 0 var(--spacing-xs);
    text-transform: uppercase;
}


blockquote {
    font-size: 24px;
    letter-spacing: -0.36px;
    padding-top: 16px;
    padding-left: 32px;
    position: relative;
    margin-bottom: 48px;

    @media (max-width: 575.98px) { 
        font-size: 20px;
    }

    .l-quote {
        color: var(--orange-30);
        font-size: 48px;
        font-family: Georgia, serif;
        left: 0;
        top: 0;
        position: absolute;

    }

    footer {
        font-size: 16px;
        margin-top: 24px;
    }
}