//////////////////
// #TYPOGRAPHY ///
//////////////////

h1,
.heading-01 {
    font-family: degular-display, sans-serif;
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    //letter-spacing: -1.2px;
    margin-bottom: 24px;

    @media (max-width: 575.98px) { 
        font-size: 36px;
        //letter-spacing: -0.84px;
        line-height: 42px;
        margin-bottom: 16px;
    }
}

h2,
.heading-02 {
    font-family: degular-display, sans-serif;
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    //letter-spacing: -0.84px;
    margin-bottom: 16px;

    @media (max-width: 575.98px) { 
        font-size: 28px;
        //letter-spacing: -0.72px;
        line-height: 32px;
    }
}

h3,
.heading-03 {
    font-family: degular-display, sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    //letter-spacing: -0.64px;
    margin-bottom: 8px;

    @media (max-width: 575.98px) { 
        font-size: 24px;
        //letter-spacing: -0.64px;
        line-height: 36px;
    }
}

h4,
.heading-04 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    letter-spacing: -0.36px;
    margin-bottom: 8px;

    @media (max-width: 575.98px) { 
        margin-bottom: 16px;
    }
}


h5,
.heading-05 {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 8px;
}

h6,
.heading-06 {
    color: #5B5B5B;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
    margin-bottom: 8px;
}


p {
    font-size: 16px;
    color: var(--content-color-primary);
    line-height: 26px;
    max-width: 65ch;
    margin-bottom: 24px;
}

li {
    font-size: 16px;
    line-height: 26px;
    color: var(--content-color-primary);
}

strong {
    font-weight: var(--text-weight-medium);
}


.list-unordered,
.list-ordered {
    margin-left: 32px;
    margin-bottom: 24px;

    li {
        margin-bottom: 12px;
        position: relative;

        &:before,
        &:after {   
            display: inline-block;
            text-align: right;
        }

        &:before {
            direction: rtl;
            margin-left: -28px;
            padding-right: 16px;
            width: 28px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}


.list-unordered li:before {
    color: var(--orange-30); //var(--grey-50);
    content: "✦";
}


.list-ordered li {
    counter-increment: li;

    &:before {
        color: var(--grey-70);
        content: counter(li);
        text-align: right;
    }

    &:after {
        color: var(--grey-70);
        content: ".";
        left: -16px;
        position: absolute;
        top: 0;
    }
}


code {
    background-color: var(--grey-10);
    box-shadow: inset 0 0 0 1px var(--border-color-strong);
    border-radius: var(--border-radius-default);
    color: var(--grey-90);
    font-family: var(--text-family-code);
    font-size: 15px;
    padding: 1px 4px 2px;
}

a {
    color: var(--blue-60);
    transition: color .2s ease-in-out;
    text-decoration: none;

    &:focus {
        outline-color: var(--blue-30);
        outline-offset: 2px;
    }

    &:hover {
        border-bottom: 1px solid;
        text-decoration: none;
    }
}


small,
.small {
    color: var(--grey-70);
    font-size: 14px;
    letter-spacing: 0.24px;
    line-height: 20px;
}

figure img {
    width: 100%;
}

figcaption,
.caption {
    color: var(--grey-70);
    font-size: 14px;
    letter-spacing: 0.24px;
    line-height: 20px;
    text-align: center;
}

.page-title {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 48px;
    font-weight: normal;
    line-height: 1;
}

.intro {
    font-size: 22px;
    letter-spacing: -0.12px;
    line-height: 36px;
    margin-bottom: 32px;

    @media (max-width: 575.98px) { 
        font-size: 18px;
        line-height: 30px;
    }
}

.eyebrow {
    color: var(--orange-40);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.24px;
    line-height: 24px;
    margin-bottom: 8px;
    text-transform: uppercase;

    @media (max-width: 575.98px) { 
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.32px;
    }
}

.c-kbd-key {
    background-color: var(--background-color-tertiary);
    border-radius: var(--border-radius-default);
    box-shadow: 0 0 1px rgba(black, .8) inset;
    display: inline-flex;
    font-family: var(--text-family);
    font-size: var(--text-size-m);
    font-weight: var(--text-weight-medium);
    margin: 0 var(--spacing-xs);
    padding: 0 var(--spacing-xs);
    text-transform: uppercase;
}