//////////////////
// #UTILITIES ////
//////////////////


// SPACING HELPER CLASSES


.spacing-below--none {
    margin-bottom: var(--spacing-zero);
}

.spacing-below--xxs {
    margin-bottom: var(--spacing-xxs);
}

.spacing-below--xs {
    margin-bottom: var(--spacing-xs);
}

.spacing-below--s {
    margin-bottom: var(--spacing-s);
}

.spacing-below--m {
    margin-bottom: var(--spacing-m);
}

.spacing-below--l {
    margin-bottom: var(--spacing-l);
}

.spacing-below--xl {
    margin-bottom: var(--spacing-xl);
}

.spacing-top--xl {
    margin-top: var(--spacing-xl);
}


.spacing-below--xxl {
    margin-bottom: var(--spacing-xxl);
}

.spacing-top--xxl {
    margin-top: var(--spacing-xxl);
}


.spacing-right-s {
    margin-right: $spacing-s;
}

.spacing-m {
    margin: $spacing-m 0;
}

.pad-right--m {
    padding-right: var(--spacing-m);
}

.pad-right--l {
    padding-right: var(--spacing-l);
}



.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}


.w-12 {
    width: 12%;
}

// Separator

hr {
    border: 1px solid $border-color-base;
    border-width: 1px 0 0;
    margin: 48px 0;
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}