//////////////////
// #UTILITIES ////
//////////////////


// SPACING HELPER CLASSES


.spacing-below--none {
    margin-bottom: var(--spacing-zero);
}

.spacing-below--xxs {
    margin-bottom: var(--spacing-xxs);
}

.spacing-below--xs {
    margin-bottom: var(--spacing-xs);
}

.spacing-below--s {
    margin-bottom: var(--spacing-s);
}

.spacing-below--m {
    margin-bottom: var(--spacing-m);
}

.spacing-below--l {
    margin-bottom: var(--spacing-l);
}

.spacing-below--xl {
    margin-bottom: var(--spacing-xl);
}

.spacing-below--xxl {
    margin-bottom: var(--spacing-xxl);
}


.spacing-top--xxs {
    margin-top: var(--spacing-xxs);
}


.spacing-top--xs {
    margin-top: var(--spacing-xs);
}


.spacing-top--s {
    margin-top: var(--spacing-s);
}

.spacing-top--m {
    margin-top: var(--spacing-m);
}

.spacing-top--l {
    margin-top: var(--spacing-l);
}

.spacing-top--l {
    margin-top: var(--spacing-l);
}

.spacing-top--xl {
    margin-top: var(--spacing-xl);
}

.spacing-top--xxl {
    margin-top: var(--spacing-xxl);
}


.spacing-right--xxs {
    margin-right: var(--spacing-xxs);
}


.spacing-right--xs {
    margin-right: var(--spacing-xs);
}

.spacing-right--s {
    margin-right: var(--spacing-s);
}

.spacing-right--m {
    margin-right: var(--spacing-m);
}

.spacing-m {
    margin: $spacing-m 0;
}

.pad-right--m {
    padding-right: var(--spacing-m);
}

.pad-right--l {
    padding-right: var(--spacing-l);
}

.pad-right--xl {
    padding-right: var(--spacing-xl);
}

.pad-right--xxl {
    padding-right: var(--spacing-xxl);
}

.pad-below--l {
    padding-bottom: var(--spacing-l);
}


.pad-in--m {
    padding: var(--spacing-m);
}


.pad-in--l {
    padding: var(--spacing-l);
}



.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}


.w-10 {
    width: 10%;
}

.w-12 {
    width: 12%;
}


.w-15 {
    width: 15%;
}

.w-20 {
    width: 20%;
}



.h-96 {
    height: 96px;
}

.h-120 {
    height: 120px;
}



// Separator

hr {
    border: 1px solid var(--grey-20);
    border-width: 1px 0 0;
    margin: 48px 0;

    .c-on_dark & {
        border-color: var(--grey-80);
    }
}

.visually-hidden:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.img-style-1 {
    border-radius: 16px;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, .16);
}





// BOOTSTRAP OVERRIDE
.bg-light {
 background-color: var(--yellow-05) !important;
}

.border {
    border: 1px solid var(--grey-20) !important;
}

div[class*="border"] {
    border-color: var(--grey-20) !important;
}


.rounded {
    border-radius: 4px !important;
}